@charset "utf-8";
/*
	[DESTOON B2B System] Copyright (c) 2008-2018 www.destoon.com
	This is NOT a freeware, use is subject to license.txt
*/
/* article && quote*/
.top-l {width:420px;float:left;margin-right:20px;}
.top-r {width:420px;float:right;}
.headline h2 {text-align:center;font-size:24px;margin:0;height:48px;line-height:48px;overflow:hidden;}
.subline {padding:0 16px;}
.subline li {height:34px;line-height:34px;overflow:hidden;font-size:16px;}
.subline .f_r {color:#666666;font-size:12px;}
.keytags {font-size:14px;padding:16px;}
/* catlist */
.childlist {padding:10px 10px 10px 15px;line-height:24px;}
.childlist li {font-size:14px;height:28px;line-height:28px;background:url('image/li_dot.gif') no-repeat 5px 12px;padding:0 10px 0 12px;overflow:hidden;}

.catlist {padding:16px 0;line-height:32px;}
.catlist li {font-size:14px;height:32px;line-height:32px;background:url('image/li_dot.gif') no-repeat 6px center;padding:0 12px;overflow:hidden;}
.catlist i {font-style:normal;float:right;font-size:12px;color:#666666;}
.catlist .sp {background:#FFFFFF url('image/dot.gif') repeat-x 0 center;}

.subtitle {padding:10px 16px;margin:20px 0;line-height:32px;font-size:14px;border:#DDDDDD 1px solid;background:#FAFAFA;}
.subtitle li {width:50%;height:32px;overflow:hidden;float:left;}

.news-list-left{float: left;width:790px;overflow: hidden;margin-right:30px}
.news-list-right{overflow: hidden;}


.news-left{float: left;width:800px;overflow: hidden; padding:20px;box-shadow: 0px 0px 3px rgba(0,0,0,0.15);margin-right:30px; background:white}

.news-right{overflow:hidden;}
.ad{background:white; padding:15px;margin-bottom:15px;box-shadow: 0px 0px 3px rgba(0,0,0,0.15)}
.news-right .colum .qc-body ul{padding-top:10px}
.news-right .colum .qc-body ul li{height:28px;line-height:28px;overflow:hidden;font-size:14px;}
.columbox{height:96px;border: 1px solid #ebebeb;padding: 10px 0px 0 10px;overflow:hidden;margin-top:5px}
.columbox img{width:93px;height: 86px;float: left;margin-right:10px;}
.columbox span{height: 22px;float: left;width: 166px;font: bold 14px/22px "å®‹ä½“","simhei";overflow: hidden;}
.columbox span a{color:#333;}
.columbox span a:hover{color:#f60;text-decoration: underline;}
.columbox p{width: 166px;height: 70px;float: left;line-height: 22px;color:#888;}
.columbox p a{color:#ff7200;font:12px/22px "å®‹ä½“","simhei";}

.news-right .qc-head{height:39px;clear:both;font-size:16px;line-height:39px;text-align:center;padding:0px 0px;border:#e1e1e1 1px solid;border-top:#ff7200 3px solid; background:#f7f7f7 url(img/l.jpg) no-repeat right;border-bottom:none;border-right:none}
.news-right .qc-head li{float:left;list-style-type:none;font-weight:normal;width:50%;border-bottom:#e1e1e1 1px solid; }
.news-right .qc-head li.current{font-weight:bold;border-bottom:#fff 1px solid;background:#ffffff url(img/l.jpg) no-repeat right}
.news-right .qc-head li.current a{color:#ff7200}
.news-right .qc-body dl{overflow:hidden;padding:10px 15px;border:#e1e1e1 1px solid;border-top:none;}



.exContent .exTitle{width: 100%;height: 30px;line-height: 30px;}
.exContent .exTitle h1{float: left;font-size: 26px;color:black;font-weight:bold}
.exContent .exTitle span{float: left;font-size: 20px;font-weight:bold;color: #fc6700;margin-left: 10px;}
.exContent .exTiInfo{width: 100%;height: 34px;line-height: 20px;margin: 20px 0 10px;color: #999; border-bottom:#efefef 1px  solid}
.exContent .exTiInfo a{color: #999;}
.exContent .exTiInfo a:hover{color: #ff6600;}
.exContent .exDetails{width: 100%;height: auto;padding: 20px 0;background-color: #f6f6f6;}
.exContent .exDetails p{padding: 0 20px;line-height: 20px;margin-top: 10px;}
.exContent .pubTitle{width: 100%;height: 30px;line-height: 30px;background-color: #f6f6f6;margin: 20px 0;}
.exContent .pubTitle span{float: left;font-size: 16px;border-left: 3px solid #ff6600;text-indent: 15px;}
.exContent .exIntroduce p{line-height: 20px;padding: 0 20px;}
.exContent .exContact p{line-height: 20px;padding: 0 20px;}
.exDisclaimer{background-color: #f9f9f9;border:1px solid #eee;padding:15px 20px; font-size:14px;margin-top:20px}
.exContent .exDisclaimer p{padding:20px;line-height: 20px;}
.exAd{float: left;width: 800px;background-color: #fff;margin: 20px 0;height: 100px;}
.exRelated{padding: 20px 0px;}
.exRelated h2{font-size: 18px;margin-bottom: 10px;line-height: 20px;color:#222;font-weight:bold}
.exRelated ul li{float: left;height: 30px;line-height: 30px;width: 350px;margin-right: 20px; font-size:14px;}
.exRelated ul li a:hover{color:#ff6600; }
.exComment{padding: 30px;float: left;width: 758px;border:1px solid #eee;background-color: #fff;margin-top: 20px;}
.exComment h1{font-size: 18px;margin-bottom: 10px;}



.summary{background-color: #f6f6f6;font-size: 14px;padding: 20px 0;}
.summary p{line-height: 20px;padding:0 20px;}
.content{width: 100%;padding: 10px 0; font-size:16px; line-height:28px;}
.content img{max-width:700px}
.content p{line-height: 30px; margin-bottom: 20px;color:#333}
.tags{width: 100%;height: 30px;line-height: 30px;}
.tags i{float: left;font-style: normal;}
.tags span{float: left;height: 28px;border:1px solid #eee;border-radius: 15px;padding: 0 15px;margin-left: 10px;}


.past-box{background-color:#fff; overflow:hidden;border:#eee 1px solid}
.past-box dt{line-height:40px;font-size:16px;padding:0px 15px;eight:40px;color:#ff7200; border-bottom:#eee 1px solid}
.past-box dt span{float:right;font-size:14px;}
.past-box img{width:70px;height:70px; float:left;margin-right:15px;border-radius:50%;border:#e3e3e3 1px solid; padding:5px}
.past-box ul li {padding:15px 15px;height:82px;border-bottom:#efefef 1px solid; position:relative}
.past-box p{font-size:16px;line-height:20px;margin-top:5px;;height:40px; overflow:hidden}

.past-box ul li ins{text-decoration:none; line-height:20px;font-size:14px;color:#888}
.past-box ul li em{float:right}
.past-box ul li font{color:#ff4200;}
.past-box ul li a:hover img{opacity:.9;filter:alpha(opacity=90)}
.past-box ul li div{ position:absolute; bottom:40px;left:112px;}

.box{border:#eee 1px solid;background:white; overflow:hidden}
.box dt{line-height:40px;font-size:16px;padding:0px 15px;border-bottom:#e3e3e3 1px solid;height:40px; font-weight:normal;color:#ff7200}
.box dt span{float:right;font-size:14px;}
.box ul{padding:12px 15px; }
.box ul li{line-height:37px;font-size:14px;height:37px;overflow:hidden}
.box ul li:nth-child(1) em ,.box ul li:nth-child(2) em ,.box ul li:nth-child(3) em{background:#ff5400}
.box ul li em{background:#666; display:block;width:20px; height:20px;float:left;margin-right:8px; text-align:center;line-height:18px;color:white;margin-top:8px;font-size:14px;border-radius:50%; font-style:normal}

.c-box{background-color:#f7f7f7; overflow:hidden}
.c-box ul{}
.c-box ul li {padding:20px 20px;float:left;width:222px}

.c-box img{width:222px; height:165px;}
.c-box ul li a:hover img{opacity:.9;filter:alpha(opacity=90)}
.c-box p{font-size:16px;line-height:25px;margin-top:5px;}


.info-shops{
	width: 1150px;margin:0px auto; overflow:hidden;
}
/*商铺列表样式*/
.info-shops ul{
	width: 1220px;
}
.info-shops ul:after{
    content:"";
    display:block;
    clear:both;
}
/*单个商铺信息样式*/
.info-shops ul li{
	width: 240px;
	height: 390px;
	padding: 15px 15px 0 15px;
	background-color: #E5F8E5;
	margin-bottom: 20px;
	border: 1px solid #C5EAC3;
    float:left;
    margin-right:20px;
}
.info-shops ul li img{
    margin-bottom:5px;
	width:100%
}
.info-shops ul li h4{
	font-size: 14px;
	padding:14px 0 9px 0;
}
.info-shops ul li p{
	font-size:12px;
	margin:5px 0;
    line-height: 22px;
	height:22px;
	overflow:hidden;text-overflow:ellipsis;white-space:nowrap;
}
.info-shops ul li p span{
	color: #999999;
	display: inline-block;
	width: 62px;
	text-align: justify
}
.info-shops ul li p .span-2{
	width: 155px;
	color: #333;
    text-align:left
}
.info-shops ul li p a{
	color:white;
}

.info-shops ul li em{background:#009261; display:block;padding:0px 10px;font-style:normal;color:white; float:left;margin-right:30px;line-height:20px;}


.zuozhe{padding:20px;overflow:hidden; background:#f7f7f7 url(img/writer.gif) no-repeat right top;}
.z-logo img{float:left;width:80px;margin-right:20px;border-radius:50%}
.z-logo p{overflow:hidden;font-size:20px;}
.z-logo a{color:#4285f4;font-weight:bold}
.z-nav{line-height:25px;margin-top:5px;}
.z-nav em{font-style:normal;padding-right:8px;color:#666}


.g-box{background-color:#fff; overflow:hidden; border:#eee 1px solid}
.g-box dt{line-height:40px;font-size:16px;padding:0px 15px;height:40px;color:#ff7200;border-bottom:#e3e3e3 1px solid}
.g-box dt span{float:right;font-size:14px;}
.g-box ul{overflow:hidden;padding: 10px 15px}
.g-box ul li {width:25%;float:left; font-size:14px; line-height:35px;}

.q-box{width:1150px; margin:0px auto 20px;	background: #E5F8E5;border: 1px solid #C5EAC3;overflow:hidden}
.q-box dt{line-height:40px;font-size:16px;padding:0px 20px;height:40px;color:#ff7200;border-bottom:#e3e3e3 1px solid}
.q-box dt span{float:right;font-size:14px;}
.q-box ul{overflow:hidden;padding: 10px 0px 10px 20px}
.q-box ul li {float:left; font-size:14px; line-height:35px;width:92px}



.related_com{ margin:20px 0px 0px;padding:0px 0px 15px 0px;overflow:hidden; zoom:1;border-bottom:#ff5400 1px solid; background:#FEFCE4}
.relate_title{ border-top:2px #ff5400 solid; border-bottom:1px #ddd solid;padding:0px 15px; height:45px; line-height:45px; font-size:16px; font-weight:bold; clear:both;}
.relate_title a{ font-size:16px;}
.com_img{width:165px; float:left;padding-top:15px;padding-left:15px}
.com_img img{width:150px;height:132px;padding:0px;border:#e1e1e1 1px solid}
.com_nav{ width:120px; height:132px;padding-top:5px;padding-left:10px; float:left;border-bottom:none;}
.com_nav ul li{ width:90px; float:left;margin-top:10px;}
.com_nav ul li a{ padding:0px 0; display:block;text-align:center;line-height:35px;border:#ff5400 1px solid;border-radius:3px;font-size:16px;}
.com_nav ul li a:hover{background:#ff5400;color:white}
.com_info{ width:450px; float:left; margin-top:10px; font-size:16px;line-height:35px;}
.com_info h3{font-size:16px;font-weight:bold}


.news-list-box h3{height:45px;line-height:45px;font-size:16px;background:url(image/f5.gif) repeat-x 0px 43px;}
.news-list-box h3 b{display:block;border-bottom:#3063BC 2px solid;width:80px;height:43px; text-align:center;font-weight:600;color:#3063BC}
.news-list-box ul li img{width:170px;height:130px; float:left;margin-right:10px}
.news-list-box ul li{position: relative;padding:25px 0px;height:130px;border-bottom:#e1e1e1 1px solid}
.news-list-box ul li:hover{background:#f9f9f9}
.news-list-box ul li .text{overflow:hidden; position:relative;height:130px;}
.news-list-box ul li h5{font-size:20px;font-weight:600;position: absolute; left:10px;top:0px;}
.news-list-box ul li p{font-size:13px;line-height:20px;position: absolute; left:10px;top:40px;color:#777}
.news-list-box ul li i{font-size:14px;line-height:20px;position: absolute; left:10px;bottom:0px;color:#666;font-style:normal}
.news-list-box ul li i a{color:#3063BC}
.news-list-box ul li em{font-size:14px;line-height:20px;position: absolute; font-style:normal; right:20px;bottom:0px;color:#666}
.news-list-box ul li span{color:red}

.gzh{width:50%;overflow:hidden;margin:0px auto}
.gzh ul li{float:left;width:50%; text-align:center; font-size:14px;line-height:25px;}