@charset "utf-8";

.cg-list ul {width:1050px}
.cg-list ul li {font-size:14px;width:220px; float:left;margin-right:15px;margin-bottom:15px;border:#e3e3e3 1px solid; background:white}
.cg-list ul li h5{font-size:14px; line-height:40px;height:50px;overflow:hidden;background:#efefef;padding:0px 10px;margin-bottom:5px;}
.cg-list ul li p{padding:0px 10px;margin:0px;line-height:30px;height:30px;overflow:hidden;font-size:12px}
.cg-list ul li a.baojia{background:#ff7200; display:block;width:80px;height:30px;line-height:30px; text-align:center;color:white;margin:5px 0px 15px 10px;border-radius:2px;}
.cg-list ul li:hover{border:#ff7200 1px solid}
.cg-list ul li:hover a.baojia{background:#ff5400}
.cg-list ul li font{color:#777}
.cg-list ul li b{color:#d10000}
/*条件筛选*/
.selectList { background: #fff; border: 1px solid #eee; margin-bottom: 20px; }
.selectList dl { position: relative; padding: 10px 20px 10px 80px; line-height: 30px; border-bottom: 1px solid #eee; overflow: hidden; }
.selectList dl: last-child { border-bottom: #fff 0px solid; }
.selectList dl dt { position: absolute; width: 80px; left: 20px; top: 12; text-align: left; margin: 0; font-size: 12px; }
.selectList dl dd a { color: #266eab; line-height: 30px; margin-left: 20px; display: inline-block; }
.selectList dl dd a.on{color:#ff6600;font-weight:bold}
.selectList dl dd a:hover{ text-decoration:underline}

.cg-left{float: left;width:940px;overflow: hidden; padding:0px;margin-right:15px}

.cg-right{overflow:hidden}


.type {height:40px;line-height:40px;overflow:hidden;background:#f5f5f5;font-size:14px;}
a.type_1:link,a.type_1:visited,a.type_1:active,a.type_1:hover {float:left;display:block;padding:0 15px 0 15px;background:#1A88E1;color:white;font-weight:bold;}
a.type_2:link,a.type_2:visited,a.type_2:active {float:left;display:block;padding:0 15px 0 15px;border-right:#E2F0FB 1px solid;}
a.type_2:hover {background:#1A88E1;color:#FFFFFF;}

.buy-list{padding:10px 15px;border:#eee 1px solid;overflow:hidden; background:white}
.buy-list ul li{line-height:45px;height:50px;overflow:hidden;font-size:16px;background:url(image/dot.png) no-repeat 0px 19px;padding-left:12px;border-bottom:#f5f5f5 1px solid}
.buy-list ul li em{float:right;font-size:14px;color:#888;font-style:normal}
.buy-list ul li:hover{background:#f5f5f5 url(image/dot.png) no-repeat 0px 19px;}
.buy-list ul li span{color:red;font-weight:bold}

.buy_one {border:#eee 1px solid;background:white;}
.buy_one h1{font-size:22px;line-height:40px;padding:15px 20px; border-bottom:#f1f1f1 1px solid}
.buy_one h1 span{float:right}
.buy_one h1 span a{background:#ff7200;color:white;width:100px;display:block;font-size:16px;text-align:center;border-radius:3px}
.buy_one h1 span a:hover{ background:#ff5400}
.buy_one dl{padding:15px 20px; overflow:hidden}
.buy_one dl li{float:left;width:400px;line-height:30px;font-size:14px}
.buy_two {border:#eee 1px solid;background:white;margin-top:15px}
.buy_two h2{font-size:18px;line-height:30px;padding:10px 20px; border-bottom:#f1f1f1 1px solid;}
.buy_two dl{padding:20px 20px 15px 20px;font-size:16px; line-height:30px; overflow:hidden}
.buy_two dl li{float:left;margin-right:20px;font-weight:bold;color:#ff7200;width:200px;line-height:40px;}
.buy_two dl li.xm{background:url(img/login.png) no-repeat 0px 7px;padding-left:38px}
.buy_two dl li.sj{background:url(img/sj.png) no-repeat 0px 7px;padding-left:38px}
.b-blue{width:240px;height:40px;background:#ff9c00;text-align: center;line-height:40px;font-size:16px;border-radius:5px;cursor:pointer}
.b-blue:hover{background:#ff8500}
.b-blue a{color:white}


.buy_three {border:#eee 1px solid;background:#fff;margin-top:15px}
.buy_three h2{font-size:18px;line-height:30px;padding:10px 20px; border-bottom:#eee 1px solid;}
.buy_three dl{padding:25px 0px 10px 25px;font-size:16px; line-height:25px; overflow:hidden}
.buy_three dl li{float:left;width:245px;background:#f9f9f9;height:150px;margin-bottom:20px;padding:15px 15px;margin-right:20px;}
.buy_three dl li h3{font-size:14px;height:40px;line-height:20px;overflow:hidden}
.buy_three dl li p{font-size:14px}
.buy_three dl li p a{background:#ff5837;display:block;height:26px;width:80px; text-align:center;color:white;border-radius:3px;margin-top:8px}
.buy_three dl li p a:hover{background:#d10000}
.buy_three dl dt{border-bottom:#eee 1px dotted;height:35px;margin-bottom:10px;font-size:14px;color:#d10000}


.buy_right{width:280px; float:right;overflow:hidden}

.buy_right_one h2{font-size:18px;border-bottom:#eee 1px solid;height:35px;}
.buy_right_one{background:#fff;padding:10px;font-size:14px;line-height:23px;}
.buy_right_one span{padding-right:10px}


.rent-right{width:240px;float:right;overflow:hidden}
.sale-rec{padding:10px 20px;overflow:hidden;background:white;border:#eee 1px solid}
.sale-rec h2{font-size:15px;line-height:20px;height:33px;color:#555}
.sale-rec h2 span{float:right;font-weight:normal;font-size:6px;font-family:"ËÎÌå";color:#dadada}
.sale-rec ul li{ float:left;font-size:12px;margin:0px 0px 18px 0px;width:200px;overflow:hidden;}
.sale-rec ul li .qcimg{width:200px;height:149px;overflow:hidden}
.sale-rec ul li .qcimg img{width:200px; height:149px;cursor: pointer;transition: all 0.2s;}
.sale-rec ul li .qcimg:hover img{transform: scale(1.05);}
.sale-rec ul li p{line-height:20px;height:20px;overflow:hidden;padding:0px 0px}
.sale-rec ul li p.price{color:#FF7723;font-weight:bold;height:30px;line-height:30px;overflow:hidden; background:url(img/rmbico.png) no-repeat 0px 8px; padding-left:15px;font-size:14px;}
.sale-rec ul li p.local span{float:right;padding-top:5px}
.sale-rec ul li p.local{padding-left:15px; background: url(img/global.png) no-repeat 3px 3px;}
.sale-rec ul li p.company{padding:8px 0px 8px 0px; position:relative}
.sale-rec ul li p.company span{display: inline-block;
    max-width: 130px;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
	padding-right:5px;
}
.sale-rec ul li p.company img{ position:absolute;top:12px}

.state{ height:auto; margin:0 auto; margin-top:20px; background:#fff; padding:15px 15px; color:#999; line-height:22px}
.state h2{ height:20px; line-height:20px; font-size:14px; color:#e02445;}
.state b{ color:#333}
.state p{ margin-top:10px;font-size:12px}
.state p a{ color:#e02445}
.state p a:hover{ text-decoration:underline}