/*企业库列表页*/
.listNav{ width:1200px; height:50px; background:#fff; margin:0 auto;line-height:50px; margin-top:20px}
.listNav .listMenu{ width:90px; height:50px;  text-align:center; float:left; position:relative}
.listNav .listMenu .province{ width:483px; height:240px; background:#fff; position:absolute; left:0px; top:70px; z-index:1000; border:1px solid #ebebeb; padding:15px 0 0 25px; text-align:left; display:none}
.listMenu .province h3{ height:35px; line-height:35px; font-size:14px; position:relative}
.listMenu .sanjiao{position:absolute; display:block; width:483px; height:23px; background:url(../images/sprite_global.png) no-repeat -283px -180px; z-index:1005; top:50px; left:30px; display:none;}
.listMenu.on .sanjiao{ display:block;}
.listMenu .province p{ height:30px; line-height:30px;}
.listMenu .province p span{ color:#888; padding-right:10px}
.listMenu .province p a{ margin:0 10px;}
.listMenu .province p a:hover{color:#e02445}
.listMenu .hotNavbox.on .province{ display:block!important;}
.listNav .listMenuOn{ width:1100px; height:50px; float:left}
.listNav .listMenuOn a{min-width:80px; height:50px; background:#e02445; color:#fff; display:inline-block; text-align:center; margin-right:5px; padding:0 10px;}
.com-left{ width:930px; height:auto; float:left; }
.com-left .com-box{ width:900px; background:#fff; margin-bottom:20px; padding:20px 0 20px 30px;transition: all 0.3s ease-in-out 0s; -webkit-transition: all 0.3s ease-in-out 0s;    -moz-transition: all 0.3s ease-in-out 0s; overflow:hidden}
.com-left .com-box:hover{box-shadow:0px 0px 15px rgba(0,0,0,0.2);-webkit-box-shadow:0px 0px 15px rgba(0,0,0,0.2);-moz-box-shadow:0px 0px 15px rgba(0,0,0,0.2);}
.com-left .com-box .com-info{ }
.com-left .com-box .com-info h2{ font-weight:normal; font-size:18px; height:35px; line-height:35px;overflow:hidden;margin:0}
.com-left .com-box .com-info h2 a:hover{ color:#e02445}
.com-left .com-box .com-info h2 em{ font-size:12px; color:#e02445; border:1px solid #e02445; vertical-align:middle;/* display:inline-block;*/ padding:2px 3px; margin:0 2px;}
.com-left .com-box .com-info h2 em.gray{color:gray;border:1px solid gray}
.com-left .com-box .com-info h2 span {color: #e02445;font-weight:bold}
.com-left .com-box .com-info .com-business{ height:26px;  line-height:26px; margin:0px 0; color:#333; overflow:hidden}
.com-left .com-box .com-info .com-business:after{content:""; clear:both; display:block}
.com-left .com-box .com-info .com-business span{ display:inline-block;text-align:center;color:#999; line-height:24px; margin:0 5px;border-radius: 3px;height: 26px;overflow: hidden; vertical-align: middle }
.com-left .com-box .com-product{overflow:hidden;margin-top:10px}
.com-left .com-box .com-product a{ display:block; width:155px; height:180px; text-align:center; margin-right:20px; float:left;  overflow:hidden;}
.com-left .com-box .com-product a img{ width:153px; height:150px;margin-bottom:5px;border:#eee 1px solid}



.com-right{ width:250px; height:auto; float:left; margin:0px 0 0 20px;}
.com-title{ width:230px; height:49px; line-height:50px; background:#fff; border-bottom:1px solid #e7e7e7; font-size:16px; padding:0 10px;}
.com-title span{float:right;font-size:14px}
.com-title i {font-style:normal;color:#777;padding:0 0px 0px 3px; font-size:14px;font-weight:bold;font-family:simsun;}
.com-box ul{ width:220px; height:auto; background:#fff; padding:10px 15px;}
.com-box ul li{ width:220px; height:30px; line-height:30px; overflow:hidden;}
.com-box ul li a:hover{ color:#e02445;}
.com-box ul li a em {color: #e02445;}
.com-box ul li .iconfont{ color:#db2242}
.com-box{margin-bottom:20px}

.selectList { background: #fff; border: 1px solid #eee; margin-bottom: 20px;  box-shadow: 0px 0px 3px rgba(0,0,0,0.15);}
.selectList dl { position: relative; padding: 10px 80px 10px 100px; line-height: 30px; border-bottom: 1px solid #eee; overflow: hidden; }
.selectList dl: last-child { border-bottom: #fff 0px solid; }
.selectList dl dt { position: absolute; width: 100px; left: 20px; top: 12; text-align: left; margin: 0; font-size: 12px; }
.selectList dl dd a { color: #266eab; line-height: 30px; margin-left: 20px; display: inline-block; }
.selectList dl dd a:hover{ text-decoration:underline}
.selectList dl dd { height: 30px; overflow: hidden; }
.selectList dl dd.showMore { position: absolute; top: 10px; right: 10px; cursor: pointer; }
.selectList dl dd.showMore h3 { line-height: normal; padding: 5px 8px; background: #f7f7f7; border: 1px solid #eee;font-size:12px; text-align:center; font-weight: normal; transition: all 0.3s ease-in-out 0s; -webkit-transition: all 0.3s ease-in-out 0s; -moz-transition: all 0.3s ease-in-out 0s; border-radius: 3px; }
.selectList dl dd.showMore h3 i { background: none; float: none; display: inline-block; font-size: 12px;}
.selectList dl dd.showMore h3:hover { color: #ff6000; border: #ff6000 solid 1px; background: #fbeaed; }
.selectList dl dd a.on{font-weight:bold}
