﻿body{background:white}
#headb,#footb {display:none;}
.im0 {padding:0px 0;height:560px;}
.im0l {width:198px;float:left;height:545px;background:white;border:#eee 1px solid; position:relative; z-index:100;padding:8px 0px;margin-top:-1px;}
.im0l p {height:33px;line-height:33px;padding:0 10px 0 20px;font-size:14px;margin:0;background:#ee2e2c;color:#FFFFFF;}
.im0l ul {margin:0px 0;}
.im0l i {font-style:normal;font-weight:bold;float:right;color:#DDDDDD;font-family:simsun;}
.im0l strong {font-weight:normal;}
.im0l li {height:34px;line-height:34px;padding:0 10px 0 40px;font-size:14px;overflow:hidden;cursor:pointer;}
.im0l div {display:none; position:absolute; left:198px; top:0px; background:white; z-index:1000; width:690px;height:550px;padding:5px 18px; text-align:left;	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;box-shadow: 0px 0px 3px rgba(0,0,0,0.15);margin-top:1px; overflow:hidden}
.im0l div a{color:#666}
.im0l dl {margin:0;clear:both;padding:0}
.im0l dt {margin:0;padding:0;height:35px;font-size:14px; font-weight:bold;border-bottom:#efefef 1px solid; overflow:hidden;line-height:35px; text-align:left}
.im0l li:hover div dt a{color:#ee2e2c}
.im0l dd {margin:0;padding:7px 0;line-height:25px;font-size:13px; text-align:left}
.im0l dd a{margin-right:10px}
.im0l li:hover i {color:#FFFFFF;}
.im0l li:hover strong {color:#FFFFFF;}
.im0l li:hover div {display:block;
	-webkit-transform:translate(0px, 0);
	-moz-transform:translate(30px, 0);
}

.im0l li:hover div a{color:#666}
.im0l li:hover div a:hover{color:#ee2e2c}
.im0l li:hover a{color:white}
.im0l .cate-0 {background:url('image/cate-9.png') no-repeat 10px center;}
.im0l .cate-0:hover {background:#ee2e2c url('image/cate-9-on.png') no-repeat 10px center;}
.im0l .cate-1 {background:url('image/cate-1.png') no-repeat 10px center;}
.im0l .cate-1:hover {background:#ee2e2c url('image/cate-1-on.png') no-repeat 10px center;}
.im0l .cate-2 {background:url('image/cate-2.png') no-repeat 10px center;}
.im0l .cate-2:hover {background:#ee2e2c url('image/cate-2-on.png') no-repeat 10px center;}
.im0l .cate-3 {background:url('image/cate-3.png') no-repeat 10px center;}
.im0l .cate-3:hover {background:#ee2e2c url('image/cate-3-on.png') no-repeat 10px center;}
.im0l .cate-4 {background:url('image/cate-4.png') no-repeat 10px center;}
.im0l .cate-4:hover {background:#ee2e2c url('image/cate-4-on.png') no-repeat 10px center;}
.im0l .cate-5 {background:url('image/cate-15.png') no-repeat 10px center;}
.im0l .cate-5:hover {background:#ee2e2c url('image/cate-15-on.png') no-repeat 10px center;}
.im0l .cate-6 {background:url('image/cate-12.png') no-repeat 10px center;}
.im0l .cate-6:hover {background:#ee2e2c url('image/cate-12-on.png') no-repeat 10px center;}
.im0l .cate-7 {background:url('image/cate-7.png') no-repeat 10px center;}
.im0l .cate-7:hover {background:#ee2e2c url('image/cate-7-on.png') no-repeat 10px center;}
.im0l .cate-8 {background:url('image/cate-8.png') no-repeat 10px center;}
.im0l .cate-8:hover {background:#ee2e2c url('image/cate-8-on.png') no-repeat 10px center;}
.im0l .cate-9 {background:url('image/cate-0.png') no-repeat 10px center;}
.im0l .cate-9:hover {background:#ee2e2c url('image/cate-0-on.png') no-repeat 10px center;}
.im0l .cate-10 {background:url('image/cate-10.png') no-repeat 10px center;}
.im0l .cate-10:hover {background:#ee2e2c url('image/cate-10-on.png') no-repeat 10px center;}
.im0l .cate-11 {background:url('image/cate-11.png') no-repeat 10px center;}
.im0l .cate-11:hover {background:#ee2e2c url('image/cate-11-on.png') no-repeat 10px center;}
.im0l .cate-12 {background:url('image/cate-12.png') no-repeat 10px center;}
.im0l .cate-12:hover {background:#ee2e2c url('image/cate-12-on.png') no-repeat 10px center;}
.im0l .cate-13 {background:url('image/cate-13.png') no-repeat 10px center;}
.im0l .cate-13:hover {background:#ee2e2c url('image/cate-13-on.png') no-repeat 10px center;}
.im0l .cate-14 {background:url('image/cate-14.png') no-repeat 10px center;}
.im0l .cate-14:hover {background:#ee2e2c url('image/cate-14-on.png') no-repeat 10px center;}
.im0l .cate-15 {background:url('image/cate-15.png') no-repeat 10px center;}
.im0l .cate-15:hover {background:#ee2e2c url('image/cate-15-on.png') no-repeat 10px center;}

.im0m {width:710px;float:left;margin:15px 15px 0px 15px;overflow:hidden}

.banneModBot{border:#eee 1px solid; overflow:hidden; background:white;margin-top:15px;}
.banneModBot div{float:left;width:333px;border-right:#eee 1px solid;padding:10px;}
.banneModBot div:nth-child(even){float:right;border-right:none}
.bannerBotList dt{margin-bottom:7px;}
.bannerBotList dt img{width:100%}
.bannerBotList dd{line-height:23px;}
.bannerBotList dd b{font-weight:normal;color:#ee2e2c;margin-right:4px}

.firmBox{float:left;border:1px solid #ededed; width:588px; height:200px}
.firmBox h2{font-size:16px;font-weight:600;line-height:42px;padding:9px 0 0 20px; position:relative}
.firmBox h2 em{color:#ee2e2c}
.firmBox h2 .line{height:0;line-height:0;border-top:1px solid #e4e4e4;position:absolute;width:470px;top:30px;right:20px}
.firmBox h2 .line:before{content:"\e610";font-family:"iconfont";font-size:0px;background:#fff;left:0;top:-6px;position:absolute;line-height:0px;height:8px;width:8px; border:1px solid #e9e9e9; border-radius:100%;}
.firmBox ul{overflow:hidden; padding:0 15px 15px 5px;}
.firmBox ul li{height:28px;line-height:28px;padding-left:14px}
.firmBox ul li a{font-size:14px}
.firmBox ul li a:hover{color:#ff7031;}
.firmBox ul li span{float:right}
.firmBoxRi{ margin-left:20px}


.floor-box{height:497px;overflow:hidden;border-bottom:#eee 1px solid}
.floor-title {height: 35px;border-bottom:#eee 1px solid;overflow:hidden}
.floor-title .floor-title {font-size: 20px; color:#303030; font-weight: bold; float:left; position:relative;line-height:20px;overflow:hidden;height:40px;}
.floor-title .floor-title strong {font-weight: bolder;font-size:24px; padding-right: 6px; position:relative;top:2px;}
.floor-title .floor-menu {height: 20px; margin: 4px 0; letter-spacing: -4px; width:700px; text-align: right; float:right}
.floor-title .floor-menu a {display: inline-block; letter-spacing: normal; height: 20px; line-height: 20px; margin-left: 18px; font-size: 14px;}
.floor-title .floor-menu a i {font-style:normal;color:#777;padding:0 0px 0px 5px; font-size:16px;font-weight:bold;font-family:simsun;}
.f1 strong{color:#f53858}
.f2 strong{color:#fa7e19}
.f3 strong{color:#1873d9}
.f4 strong{color:#36ad95}
.f5 strong{color:#8e4baa}
.f6 strong{color:#ee2e2c}
.f7 strong{color:#f46}
.f8 strong{color:#008800}


.bigad img{border-radius:4px;}

.cat-middle {overflow:hidden;width:240px;float:left;height:460px; background:white; overflow:hidden;border-left:#eee 1px solid; border-right:#eee 1px solid}
.cat-middle ul {overflow:hidden;height:74px;border-top:#eee 1px solid;padding-left:15px;padding-top:11px;margin-bottom:6px;}
.cat-middle ul:nth-child(1){border-top:none}
.cat-middle li {float:left;height:22px;line-height:22px;font-size:12px;margin-right:12px;overflow:hidden}
.cat-middle strong {font-size:14px; }

.cat-middle li.wline{width:200px;overflow:hidden;height:25px;}
.cat-middle li.wline a{color:#ee2e2c}





.cat-pro-list{overflow:hidden;padding-top:0;width:723px; float:left; border-right:#eee 1px solid}
.cat-pro-list ul{width:104%}
.cat-pro-list ul li{width:150px;height:200px;background:#fff;margin:0px 0px 0px 0;border-right:#eee 1px solid; border-bottom:#eee 1px solid;position:relative;float:left;padding:15px;}
.cat-pro-list ul li .p-img{height:150px;width:150px;overflow:hidden}
.cat-pro-list ul li img{width:150px;cursor: pointer;transition: all 0.6s;}
.cat-pro-list ul li:hover img{transform: scale(1.05);}
.cat-pro-list ul li .p-title{text-overflow: ellipsis;overflow: hidden;white-space: nowrap;height: 30px;line-height: 30px;}
.cat-pro-list ul li .p-price{font-size: 14px;color: #ee2e2c;font-weight: bold;float: left;}
.cat-pro-list ul li .p-address{float: right;color: #999;}
.cat-pro-list ul li .p-shop{float: right;width:40px;height:20px;line-height:20px; text-align:center;border-radius:2px;display:none}
.cat-pro-list ul li .p-shop a{display:block;border:#ee2e2c 1px solid;color:#ee2e2c}
.cat-pro-list ul li .p-shop a:hover{display:block;background:#ee2e2c;color:white}
.cat-pro-list ul li:hover .p-shop{display:block}
.cat-pro-list ul li:hover .p-address{display:none}

.cat-right{ float:right; width:233px; height:470px;background:white; border-right:#eee 1px solid}
.cat-right ul li{ height:56px; line-height:17px; padding:9px 14px 11px 15px;border-bottom:1px solid #eee; font-size:12px; color:#999;}
.cat-right ul li a{ font-size:14px; font-weight:bold; text-overflow: ellipsis;overflow: hidden;white-space: nowrap;height: 24px;line-height: 20px;width:195px; display:block; background:url(img/brand.png) no-repeat left 2px; background-size:12px 16px;padding-left:16px;}






.f2ad img:nth-child(odd){float:left;}

.f2ad img:nth-child(even){float:right;}

.linkwrap{ width:100%; background:#f7f7f7; min-height:100px; padding:10px 0;margin-top: 20px;margin-bottom: -20px;}
.linkwrap .linkTop{ width:1200px; height:40px; line-height:40px; border-bottom:1px solid #eaeaea; font-size:16px; color:#333; font-weight:bold}
.linkwrap .linkTop em{ padding-left:0px; color:#ee2e2c}
.linkwrap .linkBot{ padding:15px 0px; width:1170px; height:auto; clear:both}
.linkwrap .linkBot a{white-space:nowrap; color:#666; margin:0 8px 0px 0px; display:inline-block; line-height:25px}


.news{ width:1198px; height:517px; margin:20px auto; background:#fff; overflow:hidden;border:1px solid #eee;}
.news_title{ width:1148px; height:68px; padding:0 25px; border-bottom:#eee 1px solid}
.news_title h2{ float:left; line-height:68px; background:url(img/news_title_bg.png) left no-repeat; text-indent:30px; font-size:18px; color:#333; }
.news_title p{ float:right; height:14px; line-height:14px; font-size:14px; text-align:right; margin-top:32px;}
.news_title p a{ margin-left:10px; color:#777;}
.news_content{ width:1200px; height:450px; position:relative;}
.news_content_left{ float:left; width:359px;padding:15px; height:450px;}
.news_content_center{ float:left; width:500px;border-left:#eee 1px solid; height:450px;overflow:hidden}
.news_content_center p{  height:60px; padding:19px 20px 10px; line-height:30px; font-size:12px; color:#999; overflow:hidden;}
.news_content_center p a{ font-size:18px; padding-left:25px; background:url(img/news_content_center_p_a_bg.png) left no-repeat;font-weight:bold}
.news_content_center ul{ padding:15px 20px 14px; border-bottom:1px solid #eee;}
.news_content_center ul li{ height:30px; line-height:30px; font-size:12px;list-style:inside;float:none;}
.news_content_center ul li a{ font-size:14px; padding-right:10px;}
.news_content_center ul li span{ color:#999; float:right;}

.news_content_right{ float:left; width:308px; height:449px; overflow:hidden; border-right:1px solid #eee; border-left:1px solid #eee; }
.news_content_right_top{ width:100%; height:89px;  border-bottom:1px solid #eee; background:url(img/news_content_right_top_bg.png) no-repeat top right;}
.news_content_right p{ width:270px; height:80px; margin:0 19px; padding:15px 0 19px; border-top:1px dashed #eee; line-height:20px; color:#999; font-size:12px;}
.news_content_right p:nth-child(2){border-top:none}
.news_content_right p a{ font-size:14px;}
.news_content_right p span a{ font-size:12px; color:#2277e6; padding-right:4px;}

.box{border:#e1e1e1 0px solid;border-top:#009237 0px solid;}

.box ul{padding:0px 0px}
.box ul li{line-height:33px;font-size:14px;height:33px;overflow:hidden}
.box ul li:nth-child(1) em ,.box ul li:nth-child(2) em ,.box ul li:nth-child(3) em{background:#ee2e2c}
.box ul li em{background:#999; display:block;width:20px; height:20px;float:left;margin-right:8px; text-align:center;line-height:18px;color:white;margin-top:8px;font-size:14px;border-radius:50%; font-style:normal}


/*floor*/


.im0r {width:258px;float:right;height:545px;margin-top:15px; position:relative; z-index:100;overflow:hidden;border:#eee 1px solid}
.im0u {overflow:hidden;background:#FFFFFF;}

.u-ops{height:51px;padding-left:5px}
.u-ops a{color:white;background:#ee2e2c;display:block;width:98px;line-height:28px;border:#ee2e2c 1px solid; font-size:14px; text-align:center;float:left;margin-left:15px;border-radius:3px}
.u-ops a.sign-btn{border:#ee2e2c 1px solid; background:none;color:#ee2e2c}


.im0t {height:260px;overflow:hidden;background:#FFFFFF;margin-top:15px;}
.im0t-list {height:250px;overflow:hidden;margin:10px 16px;}
.im0t-list li {height:30px;line-height:30px;overflow:hidden;}
.im0t-list li .f_r {padding-left:16px;color:#666666;}

.im0g {overflow:hidden;padding:0 10px;border-top:#eee 1px solid;border-bottom:#eee 1px solid;background:#fff;} 
.im0g div {width:33%;height:56px;float:left;text-align:center;padding:15px 0; font-size:14px;}
.im0g div:hover a{color:#ee2e2c}
.im0g div:hover img {margin-top:-3px;transition:all .3s ease}
.im0g img {width:32px;height:32px;margin-bottom:6px;}
.im0g em {font-style:normal;background:#FF6600;border-radius:50%;color:#FFFFFF;font-size:12px;z-index:3;position:absolute;display:block;width:16px;height:16px;line-height:16px;overflow:hidden;text-align:center;margin:0 0 0 42px;}

.ian-h {}
.ian-h ul {border-bottom:#DDDDDD 1px solid;height:29px;padding-left:16px;}
.ian-h li {border:#FFFFFF 1px solid;border-bottom:#DDDDDD 1px solid;display:inline-block;height:28px;line-height:28px;padding:0 10px;float:left; font-size:12px}
.ian-h .on {border:#DDDDDD 1px solid;border-bottom:#FFFFFF 1px solid;}

.ian-b {height:66px;overflow:hidden;margin:10px 16px 10px 16px;}
.ian-b li {height:22px;line-height:22px;overflow:hidden;}
.ian-b li .f_r {padding-left:16px;color:#666666;}

.ian-b div {float:left;width:32px;height:32px;line-height:16px;padding:8px;text-align:center;border:#DDDDDD 2px solid;border-radius:50%;margin-top:5px}
.ian-b div:hover {border:#FF6600 2px solid;}
.ian-b p {float:left;width:25px;height:16px;padding:16px 0;margin:6px 0 0 0;text-align:center;font-weight:bold;color:#DDDDDD;font-family:simsun;}

.im-b {overflow:hidden;border:#DDDDDD 1px solid;margin-bottom:20px;}
.im-l {width:197px;height:800px;border-right:#DDDDDD 1px solid;float:left;background:#F2F2F2;}
.im-l p {margin:20px 0 10px 20px;font-size:18px;}
.im-l li {width:78px;padding-left:20px;float:left;height:32px;line-height:32px;font-size:14px;overflow:hidden;}
.im-r {width:1000px;float:left;}

.im-b-mall {height:572px;background:#F2F2F2;}
.im-r-mall div {width:134px;border:#FFFFFF 1px solid;margin:20px 0 0 20px;padding:20px;height:214px;float:left;background:#FFFFFF;}
.im-r-mall div:hover {border:#FF6600 1px solid;}
.im-r-mall b {display:block;height:40px;line-height:40px;color:#FF6600;font-size:14px;}
.im-r-mall p {height:40px;line-height:20px;margin:0;overflow:hidden;font-size:12px;}

.im-b-sell {height:572px;background:#F2F2F2;}
.im-r-sell div {width:134px;border:#FFFFFF 1px solid;margin:20px 0 0 20px;padding:20px;height:214px;float:left;background:#FFFFFF;}
.im-r-sell div:hover {border:#FF6600 1px solid;}
.im-r-sell b {display:block;height:40px;line-height:40px;color:#FF6600;font-size:14px;}
.im-r-sell p {height:40px;line-height:20px;margin:0;overflow:hidden;font-size:12px;}

.im-b-info {height:572px;background:#F2F2F2;}
.im-r-info div {width:134px;border:#FFFFFF 1px solid;margin:20px 0 0 20px;padding:20px;height:214px;float:left;background:#FFFFFF;}
.im-r-info div:hover {border:#FF6600 1px solid;}
.im-r-info b {display:block;height:40px;line-height:40px;color:#666666;font-size:12px;overflow:hidden;font-weight:normal;}
.im-r-info p {height:40px;line-height:20px;margin:0;overflow:hidden;font-size:12px;}

.im-b-group {height:572px;background:#F2F2F2;}
.im-r-group div {width:134px;border:#FFFFFF 1px solid;margin:20px 0 0 20px;padding:20px;height:214px;float:left;background:#FFFFFF;}
.im-r-group div:hover {border:#FF6600 1px solid;}
.im-r-group b {display:block;height:40px;line-height:40px;color:#FF6600;font-size:14px;}
.im-r-group p {height:40px;line-height:20px;margin:0;overflow:hidden;font-size:12px;}



.Preferred {
    position: relative;
    background: #ffffff;
	width:1198px;margin:15px auto;
	border:#eee 1px solid;
	border-top: 1px solid #ee2e2c;
}
.Preferred ul{padding:45px 0px 25px 15px; overflow:hidden}

.Preferred ul li {
    width: 165px;
    float: left;
	padding:0px 14px;
	overflow:hidden
}

.Preferred ul li a {
    display: block;
    width: 100%;
    text-align: center;
}

.Preferred ul li a .p-img {
    width:100%
}
.Preferred ul li img{width:165px;cursor: pointer;transition: all 0.6s;}
.Preferred ul li:hover img{transform: scale(1.05);}

.Preferred ul li a .p-title {
    font-size: 14px;
	height:30px;
	padding:8px 0;
	overflow:hidden;
	color:#333
}
.Preferred ul li a .gray {color:#777}



.Preferred ul li a .p-reb-bg {
    width: 30px;
    height: 2px;
    background: #ee2e2c;
    margin: 10px auto;
    -webkit-transition: width .3s linear;
    -moz-transition: width .3s linear;
    -ms-transition: width .3s linear;
    -o-transition: width .3s linear;
    transition: width .3s linear;
}

.Preferred ul li a:hover .p-reb-bg {
    width: 165px;
}

.Preferred .preferred-title {
    width: 156px;
    height: 34px;
    position: absolute;
    left: 50%;
    margin-left: -78px;
    top: -8px;
	z-index:1000;
}

.industry-bar {
    position:fixed;
    top:220px;
    left:50%;
    margin-left:-660px;
    width:46px;
    display:none
}
.industry-bar.hover {
    display:block
}
.industry-bar h5 {
    height:26px;
    line-height:26px;
    padding:5px 0;
    background:#ee2e2c;
    text-align:center;
    color:#fff
}
.industry-bar ul {
    background:#fff
}
.industry-bar li {
    padding:2px 0;
    height:30px;
	line-height:30px;
    margin:0 auto;
    text-align:center;
    background:#efefef;
    margin-top:1px;
}
.industry-bar li a {
    display:block;
	line-height:30px;
    font-size:12px;
}
.industry-bar li.current {
    color:#fff;
}
.industry-bar li.current a{color:white}


.industry-bar li.current:nth-child(1){background:#ee2e2c}
.industry-bar li.current:nth-child(2){background:#f53858}
.industry-bar li.current:nth-child(3){background:#fa7e19}
.industry-bar li.current:nth-child(4){background:#1873d9}
.industry-bar li.current:nth-child(5){background:#36ad95}
.industry-bar li.current:nth-child(6){background:#8e4baa}
.industry-bar li.current:nth-child(7){background:#ee2e2c}
.industry-bar li.current:nth-child(8){background:#f46}
.industry-bar li.current:nth-child(9){background:#008800}
.industry-bar li.current:nth-child(10){background:#ff6600}
