﻿.pos{padding:18px 0;color:#333;font-size:14px;}.pos a{color:#006bc5;margin:0 4px;font-size:14px;background:url(img/arr-r.png) no-repeat right 5px;padding-right:10px;}.pos span{color:#666}
/*common*/
.b1 {height:1px;font-size:1px;clear:both;width:100%;overflow:hidden}
.b5 {height:5px;font-size:1px;clear:both;width:100%;overflow:hidden}
.b6 {height:6px;font-size:1px;clear:both;width:100%;overflow:hidden}
.b8 {height:8px;font-size:1px;clear:both;width:100%;overflow:hidden}
.b10 {height:10px;font-size:1px; clear:both;width:100%;overflow:hidden}
.b15 {height:15px;font-size:1px;clear:both;width:100%;overflow:hidden}
.b20 {height:20px;font-size:1px; clear:both;width:100%;overflow:hidden}
.b30 {height:25px;font-size:1px; clear:both;width:100%;overflow:hidden}
.mt10 {margin-top:10px;}
.mt1 {margin-top:20px;}
.mt15 {margin-top:15px;}
.mt20 {margin-top:20px;}
.mt25{margin-top:25px}
.mt30{margin-top:30px}
.f_l{float:left}
.f_r{float:right}

.column{padding:15px 15px; background:white;overflow:hidden;margin-bottom:10px; position:relative}





.help-center{
	margin: 20px auto;
	width: 1100px;
	border-radius: 6px;
	position: relative;
        overflow:hidden
}
.help-center .left{
	float: left;
	width: 200px;
	position: relative;
	background: white;
	margin-right:10px;
	border:#e3e3e3 1px solid;
}
.help-center .left h2{
	position: absolute;
	left: 41px;
	top: -1px;
	background: url("img/centerbg.png") no-repeat 0 0;
	width: 93px;
	height: 41px;
	font: 16px/41px "Microsoft YaHei";
	color: #fff;
	text-align: center
}
.help-center .left .list {
	margin: 60px 20px 0;
	border-top: 1px solid #e5e5e5
}
.help-center .left .list li{
	border-bottom: 1px solid #e5e5e5;
	line-height:59px;overflow:hidden;
	height: 59px
}
.help-center .left .list li a{
	color: #666;
	font: normal 16px/60px "Microsoft YaHei";
	display: block;
	padding-left: 40px;
	background: url("img/subject_ico.png") no-repeat 20px -960px
}
.help-center .left .list li a.active{
	color: #ff5837
}
.help-center .right{
	float: left;
	width: 810px;
	padding: 20px 37px 80px;
	background: #fff;
	font-size:16px;
	line-height:30px;
	border:1px solid #e4e4e4;
}
.help-center .right h2{
	font: normal 24px "Microsoft YaHei";
	color: #333;
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 15px;
	margin-bottom: 20px
}
.help-center .right .text p {
	padding-bottom: 20px;
}

.show{display:block;}
.hide{display:none !important;}
.right-side-bar{position:fixed;right:0;top:0;width:35px;background:#3f3f3f;height:100%;text-align:center;z-index:99;}
.r_t{margin-top:100px;}
.r_p{position:absolute;right:0;bottom:45px;}
.r_top{font-size:12px;color:#fff;}
.r_top ul{position:relative;}
.r_top li{display:block;width:35px;height:50px;overflow:hidden;position:relative;cursor: pointer;}
.r_top li a,.r_top li a p{display:block;height:50px;text-decoration:none;color:#fff;position:relative;}
.r_top li a p{line-height: 14px;}
.r_top li a span{display:block;padding-top:10px;height:40px;text-decoration:none;color:#fff;position:relative;}
.r_top li a:hover p{display:block;padding-top:10px;height:40px;text-decoration:none;color:#fff;background:#ee2e2c;}
.r_top li a:hover span{display:block;padding-top:10px;height:40px;margin-top:-50px;text-decoration:none;color:#fff;position:relative;}
a.yel{	background:#d20e0e;}
.r_top li a.yel:hover p{background:#ff7200 !important;}{	}