body{background:#f5f5f5}
.sell-left{width:950px;overflow:hidden;float:left}
.sell-right{width:230px; float:right}


/*产品列表 网格*/
.productShowGrid{width:950px;overflow:hidden;margin-top:20px; float:left}

.productShowGrid ul { margin-right: -20px; overflow: hidden;width:1050px }
.productShowGrid ul li { width: 217.5px;/* height: 322px;*/ overflow: hidden; background: #fff; border: 1px solid #eee; margin-right: 20px; margin-bottom: 20px; float: left; vertical-align: middle; position:relative }
.productShowGrid ul li:hover { border: 1px solid #e02445; -webkit-transition-duration: .3s; transition-duration: .3s; }
.productShowGrid .productImg {width: 198px; height: 189px; overflow: hidden;margin:10px 10px 0px 10px }
.productShowGrid .productImg img { width:198px;height:189px;cursor: pointer;transition: all 0.6s;}

.productShowGrid .productImg:hover img{transform: scale(1.05);}

.productShowGrid .productInfo { border-bottom: 1px solid #eee; }
.productShowGrid .productInfo, .productShowGrid .productPrice { padding: 10px; }
.productShowGrid .productInfo .productTit { font-size: 14px; color: #000; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.productShowGrid .productInfo .productTit a:hover { color: #e02445; }
.productShowGrid .productInfo .productTit em{ color: #e02445; }
.productShowGrid .productInfo .companyName { line-height: 26px;  /*padding-right: 80px;*/ white-space: nowrap; overflow: hidden; text-overflow: ellipsis; color: #979797; margin-top: 5px; }
.productShowGrid .productInfo .companyName a { color: #979797; margin-top: 5px; }
.productShowGrid .productInfo .iconGroup {right: 0px; top: 0px;  overflow: hidden; }
.productShowGrid .productInfo .iconGroup i { display: inline-block; margin-right: 5px; vertical-align: middle; }
.productShowGrid .productPrice { color: #ff5700; font-size: 16px; }
.productShowGrid .productPrice em { font-size: 12px; }
.iconGroup .iconSty1 { border: 1px #e02445 solid; line-height: normal; padding: 2px; color: #e02445; font-size: 12px; min-width: 16px; text-align: center; font-family: '宋体' }
.btnXs{padding: 5px 8px;}
.productShowGrid ul li input{position:absolute;right:5px; bottom:10px}

/*产品推荐*/
.productHot ul { overflow: hidden;margin-top:20px }
.productHot ul li { width: 228px; height: 320px; overflow: hidden; background: #fff; border: 1px solid #eee; margin-bottom: 20px; float: left; position: relative; }
.productHot ul li:hover { border: 1px solid #e02445; /*-webkit-box-shadow: 0px 5px 10px #ccc; box-shadow: 0px 5px 10px #ccc;*/ -webkit-transition-duration: .3s; transition-duration: .3; }
.productHot ul li:hover .hotIcon-2{background-position: -102px 0px;}
.productHot ul li .hotIcon-1, .productHot ul li .hotIcon-2 { position: absolute; top: 10px; right: 0px; width: 70px; height: 20px; background-image: url(img/sprite_global.png); }
.productHot ul li .hotIcon-1 { background-position: -102px 0px; }
.productHot ul li .hotIcon-2 { background-position: -102px -20px; }
.productHot .productImg { padding: 15px; width: 198px; height: 198px; overflow: hidden; }
.productHot .productImg img { width: 100%; height:100%;}
.productHot .productInfo { border-top: 1px solid #eee; padding: 10px;}
.productHot .productInfo .productTit { font-size: 14px; color: #000; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.productHot .productInfo .productTit em{ color: #e02445; }
.productHot .productInfo .companyName { position: relative;/* padding-right: 60px; */white-space: nowrap; overflow: hidden; text-overflow: ellipsis; color: #979797; margin-top: 5px; }
.productHot .productInfo .companyName a{ color: #979797; }
.productHot .productInfo .productPrice { color: #ff7200; margin-top: 5px;font-size:14px; }
.productHot .productInfo .productPrice em { color: #e02445; font-size: 14px; }


.selectList { background: #fff; border: 1px solid #eee; margin-bottom: 20px;  box-shadow: 0px 0px 3px rgba(0,0,0,0.15);}
.selectList dl { position: relative; padding: 10px 80px 10px 100px; line-height: 30px; border-bottom: 1px solid #eee; overflow: hidden; }
.selectList dl: last-child { border-bottom: #fff 0px solid; }
.selectList dl dt { position: absolute; width: 100px; left: 20px; top: 12; text-align: left; margin: 0; font-size: 12px; }
.selectList dl dd a { color: #266eab; line-height: 30px; margin-left: 20px; display: inline-block; }
.selectList dl dd a:hover{ text-decoration:underline}
.selectList dl dd { height: 30px; overflow: hidden; }
.selectList dl dd.showMore { position: absolute; top: 10px; right: 10px; cursor: pointer; }
.selectList dl dd.showMore h3 { line-height: normal; padding: 5px 8px; background: #f7f7f7; border: 1px solid #eee;font-size:12px; text-align:center; font-weight: normal; transition: all 0.3s ease-in-out 0s; -webkit-transition: all 0.3s ease-in-out 0s; -moz-transition: all 0.3s ease-in-out 0s; border-radius: 3px; }
.selectList dl dd.showMore h3 i { background: none; float: none; display: inline-block; font-size: 12px;}
.selectList dl dd.showMore h3:hover { color: #ff6000; border: #ff6000 solid 1px; background: #fbeaed; }
.selectList dl dd a.on{font-weight:bold}

.sell_tip {width:180px;height:70px;background:url('image/sell_tip.gif') no-repeat;overflow:hidden;z-index:1000;position:absolute;}
.sell_tip p {margin:0 0 4px 2px;font-weight:bold;}
.sell_tip div {padding:8px 0 0 10px;}
.tool {padding:8px 0;border-bottom:#DDDDDD 1px solid;}
.tool table {width:100%;}
.tool select {padding:2px;}
.tool-btn {background:url('image/btn_1.gif') no-repeat;height:22px;line-height:22px;width:70px;padding:0 0 0 10px;border:none;cursor:pointer;}
.tool-btn:hover {background:url('image/btn_2.gif') no-repeat;}

.img_list li {height:22px;line-height:22px;overflow:hidden;}
.product_option {padding:10px 20px 10px 20px;}
.iq_btn {margin-top:10px;border:none!important;}
.cc_inp {border:#CCCCCC 1px solid;text-align:center;}

.first-screen{ background:white;overflow:hidden;padding:20px}
.salebox_l{width:350px;float:left;padding:0px 20px 10px 0px;overflow:hidden}

.base{padding-top:10px}
.base dl{overflow:hidden;width:100%;padding:5px 0px;font-size:14px;}
.base dt{float:left;color:#777}
.base dd{overflow:hidden;overflow:hidden;color:#555}
.buynow{padding-top:15px;overflow:hidden;width:100%}
.buynow a{background:#ff7200;display:block;float:left;margin-right:20px;padding:12px 30px;font-size:16px;color:white;border-radius:2px; cursor:pointer}
.buynow a.demo{background:#ee2e2c}
.buynow a:hover{background:#f00}
.left-side{width:230px;float:left;overflow:hidden;}


.proInfo{width:538px;  float:left; border-right:1px solid #f3f3f3;font-size:14px;}
.proInfo h1{font-size: 22px; line-height: 30px; overflow: hidden; color: #000; margin-bottom: 15px; max-height: 60px; font-weight:normal}
.proInfo p{font-size:14px;line-height:41px;color:#4c4c4c;height:41px;overflow:hidden;}
.proInfo i{color:#888;margin-right:20px;float:left; text-align:justify}
.proInfo .proPrice{background:url("img/copyright.png") no-repeat 0px -96px scroll; width:479px;height:62px;line-height:31px; padding:15px 0; margin-bottom:10px; font-size:12px; position:relative}
.proInfo .proPrice p{ height:31px; line-height:31px;padding-left:20px;margin:0px}
.proInfo .proPrice span{color:#ee2c2e;float:left;line-height:31px;font-size:18px;}
.proInfo .proPrice em{margin-right:10px; color:#000; font-size:13px;}
.proInfo .proPrice font{font-size:24px;margin-left:5px;font-weight:bold;}
.proInfo p a:hover{color:#ee2c2e}
.proInfo p a{color:#4c4c4c;font-size:14px}
.proInfo p font{color:#ee2c2e}
.proInfo a.onlineInquiry{ display:block; width:175px; height:43px; background:#ee2c2e; border-radius:3px; text-align:center; line-height:43px; color:#fff; font-size:16px; margin-top:30px;transition:all 0.3s ease-in-out 0s;-webkit-transition:all 0.3s ease-in-out 0s;-moz-transition:all 0.3s ease-in-out 0s}
.proInfo a:hover.onlineInquiry{ background:#cd0225}

.qrcode { width:47px;position: absolute;right:10px;top:23px;z-index:1000
}
.qrcode p{font-size:12px;}
.qrcode dl{display:none}
.qrcode:hover dl {
  display: inline-block;position: relative;z-index:10000;background:white;width:100px;box-shadow: 0px 0px 3px rgba(0,0,0,0.15);top:10px;padding:5px;left:-30px
}

/*买家正在看*/
.shopInfo{width:215px; float:right; padding:0 15px; overflow:hidden;}
.shopInfo h2{ font-weight:normal; text-align:center; height:44px; line-height:44px; font-size:16px; padding-top:4px; background:url("img/copyright.png") no-repeat 0px -189px scroll;}
.shopInfo h3{border-bottom:1px solid #e9e9e9;height:45px;font-size:18px;line-height:45px;}


.shopInfo a{width:110px;height:90px; display: block; color: #333; font-size: 12px; padding:19px 0px 19px 102px; border-bottom:1px solid #f3f3f3; position: relative; overflow:hidden;}
.shopInfo a img {width: 90px; height: 90px; position: absolute; left: 0; top: 19px;}
.shopInfo a b{display: block;  line-height:20px; color: #333; overflow: hidden; font-weight: 400;}
.shopInfo a:hover b{ color:#ee2c2e}
.shopInfo a span {display: block; height: 25px; line-height: 25px; overflow: hidden; color: #ee2c2e; margin-top:5px;}
.shopInfo a:last-child{ border:none}

.left-side .shopInfo{width:210px; float:none; padding:0 0px; overflow:hidden; background:white}


.company{background:white;padding:0px 10px}
.company dt{font-size:18px; line-height:35px;padding:5px 0px;border-bottom:#e3e3e3 1px solid;font-weight:bold}
.company div{padding:10px 0px;line-height:25px;}
.right-side { width: 920px;background: #fff;font-size:14px; line-height:33px;overflow:hidden; float:right;padding:0px 20px }
.right-side h3{border-bottom:1px solid #e9e9e9;height:45px;font-size:18px;line-height:45px;}
.sx { width:100%; overflow:hidden;margin-bottom:20px;font-size:14px;border-bottom:#f3f3f3 1px solid;padding-bottom:15px;margin-top:20px;}
.sx dl{height:30px;line-height:30px; float:left;width:33%;overflow:hidden;padding:0px;}
.sx dl dt{float:left;color:#777}
.sx dl dd{overflow:hidden}
.content{padding:0px 0px}


/*声明*/
.state{ height:auto; margin:0 auto; margin-top:20px; background:#fff; padding:25px 0px; color:#999; line-height:22px}
.state h2{ height:30px; line-height:30px; font-size:16px; color:#ee2c2e;}
.state b{ color:#333}
.state p{ margin-top:10px;font-size:12px}
.state p a{ color:#e02445}
.state p a:hover{ text-decoration:underline}


.sale-rec{padding:10px 12px;overflow:hidden;background:#F6F6F6}
.sale-rec h2{font-size:15px;line-height:20px;height:33px;color:#555}
.sale-rec h2 span{float:right;font-weight:normal;font-size:6px;font-family:"å®‹ä½“";color:#dadada}


.sale-rec ul li{ float:left;font-size:12px;margin:0px 0px 18px 0px;width:200px;overflow:hidden;}
.sale-rec ul li .qcimg{width:200px;height:149px;overflow:hidden}
.sale-rec ul li .qcimg img{width:200px; height:149px;cursor: pointer;transition: all 0.2s;}
.sale-rec ul li .qcimg:hover img{transform: scale(1.05);}
.sale-rec ul li p{line-height:20px;height:20px;overflow:hidden;padding:0px 0px}
.sale-rec ul li p.price{color:#FF7723;font-weight:bold;height:30px;line-height:30px;overflow:hidden; background:url(image/rmbico.png) no-repeat 0px 8px; padding-left:15px;font-size:14px;}
.sale-rec ul li p.local span{float:right;padding-top:5px}
.sale-rec ul li p.local{padding-left:15px; background: url(2017/global.png) no-repeat 3px 3px;}
.sale-rec ul li p.company{padding:8px 0px 8px 0px; position:relative}
.sale-rec ul li p.company span{display: inline-block;
    max-width: 130px;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
	padding-right:5px;
}
.sale-rec ul li p.company img{ position:absolute;top:12px}