
{template 'header'}
<div class="menu">
<div class="m">
  <div class="allmenu">所有分类</div>
  
    <ul><li class="menuon"><a href="{$MODULE[1][linkurl]}"><span>首页</span></a></li>{loop $MODULE $m}{if $m[ismenu]}<li><a href="{$m[linkurl]}"{if $m[isblank]} target="_blank"{/if}><span{if $m[style]} style="color:{$m[style]};"{/if}>{$m[name]}</span></a></li>{/if}{/loop}</ul>
	</div>
</div>
<div class="m0">
<div class="w1200">
<div class="im0">
<div class="im0l">
<!--[行业分类]-->
{php $mid = isset($MODULE[5]) ? 5 : 5;}
{php $c0 = get_maincat(0, $mid, 1);}
<ul>
{loop $c0 $k0 $v0}
{if $k0 < 16 && $v0[child]}
{php $_c1 = get_maincat($v0[catid], $mid, 2);}
{php $c1 = get_maincat($v0[catid], $mid);}
<li class="cate-{$k0}"><i>&gt;</i>
<a href="{$MODULE[$mid][linkurl]}{$v0[linkurl]}" target="_blank">{$v0[catname]}</a> 
<div>
{loop $c1 $k1 $v1}
{if $k1<6}
<dl>
<dt><a href="{$MODULE[$mid][linkurl]}{$v1[linkurl]}" target="_blank">{set_style($v1[catname], $v1[style])}</a></dt>
{if $v1[child]}
{php $c2 = get_maincat($v1[catid], $mid);}
<dd>
{loop $c2 $k2 $v2}
{if $k2<30}<a href="{$MODULE[$mid][linkurl]}{$v2[linkurl]}" target="_blank">{set_style($v2[catname], $v2[style])}</a>{/if}
{/loop}
</dd>
{/if}
</dl>
{/if}
{/loop}
</div>
</li>
{/if}
{/loop}
</ul>
</div>
<div class="im0m">
{ad(14)}
<div class="banneModBot"><div class="bannerBotList"><dl><dt>
<a href="#" target="_blank"><img src="{DT_SKIN}img/201806271112098698.jpg"></a></dt>
<!--{php $tags=tag("moduleid=21&areaid=$cityid&condition=status=3 and level=1 &length=40&showcat=1&pagesize=4&order=addtime desc&template=null");}-->
{loop $tags $i $t}
  <dd><b>[{$t[catname]}]</b><a href="{$t[linkurl]}" target="_blank">{$t[title]}</a></dd>
{/loop}
</dl></div>
<div class="bannerBotList"><dl><dt>
<a href="#" target="_blank"><img src="{DT_SKIN}img/201806271504207725.jpg"></a></dt>
<!--{php $tags=tag("moduleid=21&areaid=$cityid&condition=status=3 and level=1 &length=40&offset=4&showcat=1&pagesize=4&order=addtime desc&template=null");}-->
{loop $tags $i $t}
  <dd><b>[{$t[catname]}]</b><a href="{$t[linkurl]}" target="_blank">{$t[title]}</a></dd>
{/loop}</dl></div></div>

</div>

<div class="im0r">
	<div class="im0u">
		<div class="user-info" style="background:#FFFFFF;">
		<script type="text/javascript">
		var destoon_uname = get_cookie('username');
		document.write('<a href="{$MODULE[2][linkurl]}avatar.php"><img src="'+DTPath+'api/avatar/show.php?size=large&reload={DT_TIME}&username='+destoon_uname+'"/></a>');
		document.write('<ul>');
		if(get_cookie('auth')) {
			document.write('<li><em><a href="{$MODULE[2][linkurl]}logout.php">退出</a></em><a href="{$MODULE[2][linkurl]}"><strong>Hi,'+destoon_uname+'</strong></a></li>');
		} else {
			if(destoon_uname) {
				document.write('<li><em><a href="{$MODULE[2][linkurl]}{$DT[file_login]}">登录</a></em><a href="{$MODULE[2][linkurl]}"><strong>Hi,'+destoon_uname+'</strong></a></li>');
			} else {
				document.write('<li><a href="{$MODULE[2][linkurl]}{$DT[file_login]}"><strong>Hi,欢迎来到广西88网</strong></a></li>');
			}
		}
		document.write('<a href="{$MODULE[2][linkurl]}{$DT[file_my]}?mid={$moduleid}" class="b">发布信息</a><i>|</i><a href="{$MODULE[2][linkurl]}{$DT[file_my]}?mid={$moduleid}&job=answer" class="b">商户后台</a></li>');
		document.write('</ul>');
		</script>
		</div>
		<div class="u-ops">{if $_userid}<a href="{$MODULE[2][linkurl]}{$DT[file_login]}" style="width:84%" rel="external nofollow">进入会员中心</a>{else}<a href="{$MODULE[2][linkurl]}{$DT[file_login]}" rel="external nofollow">登录</a><a href="{$MODULE[2][linkurl]}{$DT[file_register]}" class="sign-btn" rel="external nofollow">注册</a>{/if}</div>
		
		<div class="im0g">		
			<a href="{$MODULE[2][linkurl]}cart.php" target="_blank"><div><em><script type="text/javascript">document.write(get_cart());</script></em><img src="{DT_SKIN}image/grid-cart.png"/><br/>购物车</div></a>
			<a href="{$MODULE[2][linkurl]}grade.php" target="_blank"><div><img src="{DT_SKIN}image/grid-vip.png"/><br/>付费会员</div></a>
			<a href="{$EXT[spread_url]}" target="_blank"><div><img src="{DT_SKIN}image/grid-spread.png"/><br/>排名推广</div></a>
			<a href="{$EXT[ad_url]}" target="_blank"><div><img src="{DT_SKIN}image/grid-ad.png"/><br/>广告投放</div></a>
			<a href="{$EXT[gift_url]}" target="_blank"><div><img src="{DT_SKIN}image/grid-gift.png"/><br/>积分换礼</div></a>
			<a href="{$MODULE[1][linkurl]}sitemap/" target="_blank"><div><img src="{DT_SKIN}image/grid-map.png"/><br/>网站地图</div></a>
		</div>
	</div>
	<div class="im0t">
		<div id="itrade">
		<div class="tab-head">
		<ul id="trade-h">
			<li id="trade-h-4" onmouseover="Tb(this);" class="on"><a href="{$MODULE[4][linkurl]}" target="_blank"><span>企业</span></a></li>
			{if isset($MODULE[6])}<li id="trade-h-6" onmouseover="Tb(this);"><a href="{$MODULE[6][linkurl]}" target="_blank"><span>求购</span></a></li>{/if}
			{if isset($MODULE[5])}<li id="trade-h-7" onmouseover="Tb(this);"><a href="{$MODULE[5][linkurl]}" target="_blank"><span>产品</span></a></li>{/if}
			{if isset($MODULE[21])}<li id="trade-h-21" onmouseover="Tb(this);"><a href="{$MODULE[21][linkurl]}" target="_blank"><span>头条</span></a></li>{/if}
			{if isset($MODULE[18])}<li id="trade-h-18" onmouseover="Tb(this);"><a href="{$MODULE[18][linkurl]}" target="_blank"><span>社区</span></a></li>{/if}
		</ul>
		</div>
		<div id="trade-b-4" class="im0t-list" style="display:;">
		<!--{tag("moduleid=4&condition=vip>0 and catids<>''&areaid=$cityid&pagesize=5&target=_blank&order=fromtime desc&template=list-com")}-->
		</div>
		{if isset($MODULE[6])}
		<div id="trade-b-6" class="im0t-list" style="display:none;">
		<!--{tag("moduleid=6&condition=status=3&areaid=$cityid&pagesize=5&datetype=2&target=_blank&order=addtime desc")}-->
		</div>
		{/if}
		{if isset($MODULE[5])}
		<div id="trade-b-7" class="im0t-list" style="display:none;">
		<!--{tag("moduleid=5&condition=status=3&areaid=$cityid&pagesize=5&datetype=2&target=_blank&order=addtime desc")}-->
		</div>
		{/if}
		{if isset($MODULE[21])}
		<div id="trade-b-21" class="im0t-list" style="display:none;">
		<!--{tag("moduleid=21&condition=status=3 and level>0&areaid=$cityid&pagesize=5&datetype=2&target=_blank&order=addtime desc")}-->
		</div>
		{/if}
		{if isset($MODULE[18])}
		<div id="trade-b-18" class="im0t-list" style="display:none;">
		<!--{tag("moduleid=18&condition=status=3 and level>0&areaid=$cityid&pagesize=5&datetype=2&target=_blank&order=addtime desc")}-->
		</div>
		{/if}
		</div>
	</div>
</div>
<div class="c_b"></div>
</div>
</div>

</div>


<div class="b20"></div>

<div class="Preferred">
    <div class="preferred-title"><img src="{DT_SKIN}img/p-title.png"></div>
    <ul>
	 <!--{php $tags=tag("moduleid=5&areaid=$cityid&condition=status=3 and thumb<>''&length=64&pagesize=6&order=addtime desc&template=null");}-->
{loop $tags $k $t}
<li>
                    <a href="{$t[linkurl]}">
                     <img src="{imgurl($t[thumb])}" alt="{$t[alt]}" class="p-img"/>
                      <p class="p-title">{$t[title]}</p>
					  <div class="p-reb-bg"></div>
                <p class="gray">{$t[company]}</p>
                    </a></li>
{/loop}			
	
	
    </ul>
</div>


<div class="w1200" id="ibn-01">
<div class="m mt20">
<div class="feature">
<div class="firmBox firmBoxLe">
<h2><em>最新</em>采购<i class="line"></i></h2>
<ul>
<!--{php $tags=tag("moduleid=6&areaid=$cityid&condition=status=3&length=54&pagesize=5&order=addtime desc&template=null");}-->
{loop $tags $i $t}
<li><span>{date("Y-m-d",$t[addtime])}</span><a href="{$t[linkurl]}" target="_blank">{$t[title]}</a></li>
{/loop}
</ul>
</div>
<div class="firmBox firmBoxRi">
<h2><em>推荐</em>采购<i class="line"></i></h2>
<ul>
<!--{php $tags=tag("moduleid=6&areaid=$cityid&condition=status=3&length=54&pagesize=5&order=addtime desc&template=null");}-->
{loop $tags $i $t}
<li><span>{date("Y-m-d",$t[addtime])}</span><a href="{$t[linkurl]}" target="_blank">{$t[title]}</a></li>
{/loop}
</ul>
</div>
</div>
</div>

</div>
<div class="b20"></div>
<div class="allloofer mt1">
<div class="m" id="ibn-02">
<div class="floor-box">
<div class="floor-title">
	<!--{php $tagsss=tag("table=category&condition=moduleid=5 and catid=4&order=listorder desc,catid desc&template=null");}-->
	 {loop $tagsss $k $t}
		<h2 class="f1 floor-title">
			<strong>01F</strong>{$t[catname]}
		</h2>
		<p class="floor-menu fr"><a href="{$MODULE[5][linkurl]}{$t[linkurl]}" target="_blank" class="more-btn">更多</a> 
		</p> {/loop}
	</div>
<div class="cat-middle">

				{php $mid = 5;}
					{php $child = get_maincat(4, $mid, 1);}
					{loop $child $i $c}
					{if $i<5 && $c[child]}
					{php $sub = get_maincat($c[catid], $mid, 1);}
					<ul>
					<li class="wline"><a href="{$MODULE[$mid][linkurl]}{$c[linkurl]}"><strong>{set_style($c[catname], $c[style])}</strong></a></li>
					{loop $sub $j $s}
					{if $j<7}<li><a href="{$MODULE[$mid][linkurl]}{$s[linkurl]}">{set_style($s[catname], $s[style])}</a></li>{/if}
					{/loop}
					</ul>
					{/if}
					{/loop}
</div>





<div class="cat-pro-list">
<ul>
<!--{tag("moduleid=5&length=40&catid=4&condition=status=3 and price>0 and thumb<>''&areaid=$cityid&pagesize=8&order=edittime desc&width=100&height=100&lazy=$lazy&template=cat-list")}-->
</ul>
</div>

<div class="cat-right">
<ul>
<!--{tag("moduleid=4&condition=groupid>5&catid=63933&pagesize=6&areaid=$cityid&order=userid desc&template=list-comp")}-->	
</ul>
</div>

</div>
</div>
<div class="m mt20" id="ibn-03">
<div class="floor-box">
<div class="floor-title">
	<!--{php $tagsss=tag("table=category&condition=moduleid=5 and catid=5&order=listorder desc,catid desc&template=null");}-->
	 {loop $tagsss $k $t}
		<h2 class="f2 floor-title">
			<strong>02F</strong>{$t[catname]}
		</h2>
		<p class="floor-menu fr"><a href="{$MODULE[5][linkurl]}{$t[linkurl]}" target="_blank" class="more-btn">更多</a> 
		</p> {/loop}
	</div>

	<div class="cat-middle">

				{php $mid = 5;}
					{php $child = get_maincat(5, $mid, 1);}
					{loop $child $i $c}
					{if $i<5 && $c[child]}
					{php $sub = get_maincat($c[catid], $mid, 1);}
					<ul>
					<li class="wline"><a href="{$MODULE[$mid][linkurl]}{$c[linkurl]}"><strong>{set_style($c[catname], $c[style])}</strong></a></li>
					{loop $sub $j $s}
					{if $j<7}<li><a href="{$MODULE[$mid][linkurl]}{$s[linkurl]}">{set_style($s[catname], $s[style])}</a></li>{/if}
					{/loop}
					</ul>
					{/if}
					{/loop}
					

</div>
<div class="cat-pro-list">
<ul>
<!--{tag("moduleid=5&length=40&catid=5&condition=status=3 and price>0 and thumb<>''&areaid=$cityid&pagesize=8&order=edittime desc&width=100&height=100&lazy=$lazy&template=cat-list")}-->
</ul>
</div>

<div class="cat-right">
<ul>
<!--{tag("moduleid=4&condition=groupid>5&catid=63934&pagesize=6&areaid=$cityid&order=userid desc&template=list-comp")}-->	
</ul>
</div>

</div>
</div>

<div class="m mt20"><a target="_blank" href="#"><img width=1200 src="http://www.gx88.com/company/skin/binli/bottombanner.jpg" alt="" /></a></div>

<div class="m mt20" id="ibn-04">
<div class="floor-box">
<div class="floor-title">
	<!--{php $tagsss=tag("table=category&condition=moduleid=5 and catid=27&order=listorder desc,catid desc&template=null");}-->
	 {loop $tagsss $k $t}
		<h2 class="f3 floor-title">
			<strong>03F</strong>{$t[catname]}
		</h2>
		<p class="floor-menu fr"><a href="{$MODULE[5][linkurl]}{$t[linkurl]}" target="_blank" class="more-btn">更多</a> 
		</p> {/loop}
	</div>

	<div class="cat-middle">

				{php $mid = 5;}
					{php $child = get_maincat(27, $mid, 1);}
					{loop $child $i $c}
					{if $i<5 && $c[child]}
					{php $sub = get_maincat($c[catid], $mid, 1);}
					<ul>
					<li class="wline"><a href="{$MODULE[$mid][linkurl]}{$c[linkurl]}"><strong>{set_style($c[catname], $c[style])}</strong></a></li>
					{loop $sub $j $s}
					{if $j<7}<li><a href="{$MODULE[$mid][linkurl]}{$s[linkurl]}">{set_style($s[catname], $s[style])}</a></li>{/if}
					{/loop}
					</ul>
					{/if}
					{/loop}
					

</div>

<div class="cat-pro-list">
<ul>
<!--{tag("moduleid=5&length=40&catid=27&condition=status=3 and price>0 and thumb<>''&areaid=$cityid&pagesize=8&order=edittime desc&width=100&height=100&lazy=$lazy&template=cat-list")}-->
</ul>
</div>

<div class="cat-right">
<ul>
<!--{tag("moduleid=4&condition=groupid>5&catid=63956&pagesize=6&areaid=$cityid&order=userid desc&template=list-comp")}-->	
</ul>
</div>

</div>
</div>

<div class="m mt20" id="ibn-05">
<div class="floor-box">
<div class="floor-title">
	<!--{php $tagsss=tag("table=category&condition=moduleid=5 and catid=33&order=listorder desc,catid desc&template=null");}-->
	 {loop $tagsss $k $t}
		<h2 class="f4 floor-title">
			<strong>04F</strong>{$t[catname]}
		</h2>
		<p class="floor-menu fr"><a href="{$MODULE[5][linkurl]}{$t[linkurl]}" target="_blank" class="more-btn">更多</a> 
		</p> {/loop}
	</div>

	<div class="cat-middle">

				{php $mid = 5;}
					{php $child = get_maincat(33, $mid, 1);}
					{loop $child $i $c}
					{if $i<5 && $c[child]}
					{php $sub = get_maincat($c[catid], $mid, 1);}
					<ul>
					<li class="wline"><a href="{$MODULE[$mid][linkurl]}{$c[linkurl]}"><strong>{set_style($c[catname], $c[style])}</strong></a></li>
					{loop $sub $j $s}
					{if $j<7}<li><a href="{$MODULE[$mid][linkurl]}{$s[linkurl]}">{set_style($s[catname], $s[style])}</a></li>{/if}
					{/loop}
					</ul>
					{/if}
					{/loop}
					
			</div>
<div class="cat-pro-list">
<ul>
<!--{tag("moduleid=5&length=40&catid=33&condition=status=3 and thumb<>''&areaid=$cityid&pagesize=8&order=edittime desc&width=100&height=100&lazy=$lazy&template=cat-list")}-->
</ul>
</div>

<div class="cat-right">
<ul>
<!--{tag("moduleid=4&condition=groupid>5&catid=63962&pagesize=6&areaid=$cityid&order=userid desc&template=list-comp")}-->	
</ul>
</div>

</div>
</div>

<div class="m mt20" id="ibn-06">
<div class="floor-box">
<div class="floor-title">
	<!--{php $tagsss=tag("table=category&condition=moduleid=5 and catid=15&order=listorder desc,catid desc&template=null");}-->
	 {loop $tagsss $k $t}
		<h2 class="f5 floor-title">
			<strong>05F</strong>{$t[catname]}
		</h2>
		<p class="floor-menu fr"><a href="{$MODULE[5][linkurl]}{$t[linkurl]}" target="_blank" class="more-btn">更多</a> 
		</p> {/loop}
	</div>

	<div class="cat-middle">

				{php $mid = 5;}
					{php $child = get_maincat(15, $mid, 1);}
					{loop $child $i $c}
					{if $i<5 && $c[child]}
					{php $sub = get_maincat($c[catid], $mid, 1);}
					<ul>
					<li class="wline"><a href="{$MODULE[$mid][linkurl]}{$c[linkurl]}"><strong>{set_style($c[catname], $c[style])}</strong></a></li>
					{loop $sub $j $s}
					{if $j<7}<li><a href="{$MODULE[$mid][linkurl]}{$s[linkurl]}">{set_style($s[catname], $s[style])}</a></li>{/if}
					{/loop}
					</ul>
					{/if}
					{/loop}
					
			</div>
<div class="cat-pro-list">
<ul>
<!--{tag("moduleid=5&length=40&catid=15&condition=status=3 and thumb<>''&areaid=$cityid&pagesize=8&order=edittime desc&width=100&height=100&lazy=$lazy&template=cat-list")}-->
</ul>
</div>

<div class="cat-right">
<ul>
<!--{tag("moduleid=4&condition=groupid>5&catid=63944&pagesize=6&areaid=$cityid&order=userid desc&template=list-comp")}-->	
</ul>
</div>

</div>
</div>


<div class="m mt20" id="ibn-07">
<div class="floor-box">
<div class="floor-title">
	<!--{php $tagsss=tag("table=category&condition=moduleid=5 and catid=25&order=listorder desc,catid desc&template=null");}-->
	 {loop $tagsss $k $t}
		<h2 class="f6 floor-title">
			<strong>06F</strong>{$t[catname]}
		</h2>
		<p class="floor-menu fr"><a href="{$MODULE[5][linkurl]}{$t[linkurl]}" target="_blank" class="more-btn">更多</a> 
		</p> {/loop}
	</div>

	<div class="cat-middle">

				{php $mid = 5;}
					{php $child = get_maincat(25, $mid, 1);}
					{loop $child $i $c}
					{if $i<5 && $c[child]}
					{php $sub = get_maincat($c[catid], $mid, 1);}
					<ul>
					<li class="wline"><a href="{$MODULE[$mid][linkurl]}{$c[linkurl]}"><strong>{set_style($c[catname], $c[style])}</strong></a></li>
					{loop $sub $j $s}
					{if $j<7}<li><a href="{$MODULE[$mid][linkurl]}{$s[linkurl]}">{set_style($s[catname], $s[style])}</a></li>{/if}
					{/loop}
					</ul>
					{/if}
					{/loop}
					
			</div>
<div class="cat-pro-list">
<ul>
<!--{tag("moduleid=5&length=40&catid=25&condition=status=3 and thumb<>''&areaid=$cityid&pagesize=8&order=edittime desc&width=100&height=100&lazy=$lazy&template=cat-list")}-->
</ul>
</div>

<div class="cat-right">
<ul>
<!--{tag("moduleid=4&condition=groupid>5&catid=63954&pagesize=6&areaid=$cityid&order=userid desc&template=list-comp")}-->	
</ul>
</div>

</div>
</div>

<div class="m mt20" id="ibn-08">
<div class="floor-box">
<div class="floor-title">
	<!--{php $tagsss=tag("table=category&condition=moduleid=5 and catid=28&order=listorder desc,catid desc&template=null");}-->
	 {loop $tagsss $k $t}
		<h2 class="f7 floor-title">
			<strong>07F</strong>{$t[catname]}
		</h2>
		<p class="floor-menu fr"><a href="{$MODULE[5][linkurl]}{$t[linkurl]}" target="_blank" class="more-btn">更多</a> 
		</p> {/loop}
	</div>
	<div class="cat-middle">

				{php $mid = 5;}
					{php $child = get_maincat(28, $mid, 1);}
					{loop $child $i $c}
					{if $i<5 && $c[child]}
					{php $sub = get_maincat($c[catid], $mid, 1);}
					<ul>
					<li class="wline"><a href="{$MODULE[$mid][linkurl]}{$c[linkurl]}"><strong>{set_style($c[catname], $c[style])}</strong></a></li>
					{loop $sub $j $s}
					{if $j<7}<li><a href="{$MODULE[$mid][linkurl]}{$s[linkurl]}">{set_style($s[catname], $s[style])}</a></li>{/if}
					{/loop}
					</ul>
					{/if}
					{/loop}
					
			</div>
<div class="cat-pro-list">
<ul>
<!--{tag("moduleid=5&length=40&catid=28&condition=status=3 and thumb<>''&areaid=$cityid&pagesize=8&order=edittime desc&width=100&height=100&lazy=$lazy&template=cat-list")}-->
</ul>
</div>

<div class="cat-right">
<ul>
<!--{tag("moduleid=4&condition=groupid>5&catid=63957&pagesize=6&areaid=$cityid&order=userid desc&template=list-comp")}-->	
</ul>
</div>

</div>
</div>
<div class="m mt20" id="ibn-09">
<div class="floor-box">
<div class="floor-title">
	<!--{php $tagsss=tag("table=category&condition=moduleid=5 and catid=6&order=listorder desc,catid desc&template=null");}-->
	 {loop $tagsss $k $t}
		<h2 class="f8 floor-title">
			<strong>08F</strong>{$t[catname]}
		</h2>
		<p class="floor-menu fr"><a href="{$MODULE[5][linkurl]}{$t[linkurl]}" target="_blank" class="more-btn">更多<i>&gt;</i></a> 
		</p> {/loop}
	</div>
	<div class="cat-middle f8">

				{php $mid = 5;}
					{php $child = get_maincat(6, $mid, 1);}
					{loop $child $i $c}
					{if $i<5 && $c[child]}
					{php $sub = get_maincat($c[catid], $mid, 1);}
					<ul>
					<li class="wline"><a href="{$MODULE[$mid][linkurl]}{$c[linkurl]}"><strong>{set_style($c[catname], $c[style])}</strong></a></li>
					{loop $sub $j $s}
					{if $j<7}<li><a href="{$MODULE[$mid][linkurl]}{$s[linkurl]}">{set_style($s[catname], $s[style])}</a></li>{/if}
					{/loop}
					</ul>
					{/if}
					{/loop}
					
			</div>
<div class="cat-pro-list">
<ul>
<!--{tag("moduleid=5&length=40&catid=6&condition=status=3 and thumb<>''&areaid=$cityid&pagesize=8&order=edittime desc&width=100&height=100&lazy=$lazy&template=cat-list")}-->
</ul>
</div>

<div class="cat-right">
<ul>
<!--{tag("moduleid=4&condition=groupid>5&catid=63935&pagesize=6&areaid=$cityid&order=userid desc&template=list-comp")}-->	
</ul>
</div>

</div>
</div>
<div class="news" id="ibn-10">
    <div class="news_title">
    <h2>行业资讯</h2>
        <p>
{php $child = get_maincat(0, 21, 1);}
        {loop $child $i $c}<a href='{$MODULE[21][linkurl]}{$c[linkurl]}'>{set_style($c[catname],$c[style])}</a>
        {/loop}
</p>
    </div>
    <div class="news_content">
    <div class="news_content_left">
	<!--{tag("moduleid=21&condition=status=3 and level=2 and thumb!=''&areaid=$cityid&order=addtime desc&pagesize=5&width=360&height=240&target=_blank&template=slide")}-->
	<div class="box mt15">
<ul>
<!--{php $tags=tag("moduleid=21&areaid=$cityid&condition=status=3&length=54&pagesize=5&order=hits desc&template=null");}-->
{loop $tags $i $t}
<li><em>{$i+1}</em><a href="{$t[linkurl]}" title="{$t[title]}">{$t[title]}</a></li>
{/loop}
</ul>	 
</div>
       </div>
        <div class="news_content_center">
		<!--{php $tags=tag("moduleid=21&areaid=$cityid&condition=status=3 and level=5 &length=54&pagesize=1&order=addtime desc&template=null");}-->
{loop $tags $i $t}
  <p><a href="{$t[linkurl]}" target="_blank">{$t[title]}</a>
                    <br>{dsubstr($t[introduce], 120, '…')}
                </p>
{/loop}
<ul>
<!--{php $tags=tag("moduleid=21&areaid=$cityid&condition=status=3&length=44&showcat=1&pagesize=5&order=addtime desc&template=null");}-->
{loop $tags $i $t}
                <li><a href="{$t[linkurl]}" title="{$t[title]}" target="_blank">{$t[title]}</a><span>{date("m-d H:i ",$t[addtime])}</span></li>
  {/loop}       


            </ul>
			<ul>
            <!--{php $tags=tag("moduleid=21&areaid=$cityid&condition=status=3&offset=6&length=44&showcat=1&pagesize=5&order=addtime desc&template=null");}-->
{loop $tags $i $t}
                <li><a href="{$t[linkurl]}" title="{$t[title]}" target="_blank">{$t[title]}</a><span>{date("m-d H:i ",$t[addtime])}</span></li>
  {/loop}   

            </ul>        </div>
        <div class="news_content_right">
        <div class="news_content_right_top"></div>
		
		<!--{php $tags=tag("moduleid=21&areaid=$cityid&condition=status=3 and level=1 &length=40&showcat=1&pagesize=3&order=addtime desc&template=null");}-->
{loop $tags $i $t}
  <p><a href="{$t[linkurl]}" target="_blank">{$t[title]}</a>
                    <br>{dsubstr($t[introduce], 86, '…')}<br>
					<span><a href="{$t[caturl]}">{$t[catname]} | </a></span>{date("m-d H:i ",$t[addtime])}
                </p>
{/loop}
		
                    </div>
    </div>
</div>
<div class="industry-bar">
        <h5>导航</h5>
        <ul id="nav">

<li><a rel="nofollow" href="#ibn-01">采购</a></li>
<!--{php $tagsss=tag("table=category&condition=moduleid=5 and catid=4&order=listorder desc,catid desc&template=null");}-->
{loop $tagsss $k $t}
<li><a rel="nofollow" href="#ibn-02">机械</a></li>
{/loop}
<!--{php $tagsss=tag("table=category&condition=moduleid=5 and catid=5&order=listorder desc,catid desc&template=null");}-->
{loop $tagsss $k $t}
<li><a rel="nofollow" href="#ibn-03">五金</a></li>
{/loop}
<!--{php $tagsss=tag("table=category&condition=moduleid=5 and catid=5&order=listorder desc,catid desc&template=null");}-->
{loop $tagsss $k $t}
<li><a rel="nofollow" href="#ibn-04">建材</a></li>
{/loop}
<!--{php $tagsss=tag("table=category&condition=moduleid=5 and catid=27&order=listorder desc,catid desc&template=null");}-->
{loop $tagsss $k $t}
<li><a rel="nofollow" href="#ibn-05">农业</a></li>
{/loop}
<!--{php $tagsss=tag("table=category&condition=moduleid=5 and catid=33&order=listorder desc,catid desc&template=null");}-->
{loop $tagsss $k $t}
<li><a rel="nofollow" href="#ibn-06">汽摩</a></li>
{/loop}
<!--{php $tagsss=tag("table=category&condition=moduleid=5 and catid=15&order=listorder desc,catid desc&template=null");}-->
{loop $tagsss $k $t}
<li><a rel="nofollow" href="#ibn-07">数码</a></li>
{/loop}
<!--{php $tagsss=tag("table=category&condition=moduleid=5 and catid=25&order=listorder desc,catid desc&template=null");}-->
{loop $tagsss $k $t}
<li><a rel="nofollow" href="#ibn-08">家居</a></li>
{/loop}
<!--{php $tagsss=tag("table=category&condition=moduleid=5 and catid=28&order=listorder desc,catid desc&template=null");}-->
{loop $tagsss $k $t}
<li><a rel="nofollow" href="#ibn-09">服装</a></li>
{/loop}

<li><a rel="nofollow" href="#ibn-10">资讯</a></li>


        </ul>
    </div>
 <script type="text/javascript" src="{DT_SKIN}js/js-index.js?v.1.0"></script>
    <script type="text/javascript" src="{DT_SKIN}js/jquery.nav.js"></script>
    <script type="text/javascript">
        $('.gotop').click(function (e) {
            e.preventDefault();
            $(document.body).animate({ scrollTop: 0 }, 700);
        });
        $(document).ready(function () {
            $('#nav').onePageNav();
            $('.ck-slide').ckSlide({
                autoPlay: true
            });
        });
        $(".mrtb-con").each(function () {
            new SetTab($(this), 3000, 0);
        });
    </script>

<div class="linkwrap">
    <div class="m">
        <div class="linkTop"><em>友情</em>链接</div>
        <div class="linkBot">
    <!--{tag("table=link&typeid=1&condition=status=3 and username=''&areaid=$cityid&pagesize=100&order=listorder desc,itemid desc&template=list-link")}-->

        </div>
    </div>
</div>
<script type="text/javascript">
new dmarquee(22, 10, 3000, 'site_stats');
new dmarquee(22, 30, 3000, 'company');
if(get_cookie('auth')) {
	$('.iuser_l')[0].title = '商务中心';
	$('.iuser_l')[0].href = '{$MODULE[2][linkurl]}';
	$('.iuser_l')[0].className = 'iuser_u';
	$('.iuser_r')[0].title = '完善我的会员资料';
	$('.iuser_r')[0].href = '{$MODULE[2][linkurl]}edit.php';
	$('.iuser_r')[0].className = 'iuser_e';
}
</script>

<script type="text/javascript" src="{DT_STATIC}file/script/marquee.js"></script>
<script type="text/javascript" src="{DT_STATIC}file/script/index.js"></script>
{template 'footer'}