
{template 'header'}
<script src="{DT_SKIN}js/base.js"></script>
<div class="w1200 selectList">
        <dl>
            <dt>行业：</dt>
           <dd class="showCon"> 
      {php $child = get_maincat(0, 4, 1);}
        {loop $child $i $c}<a href='{$MODULE[4][linkurl]}{$c[linkurl]}'>{set_style($c[catname],$c[style])}</a>
        {/loop}


            </dd>
         <dd class="showMore">
                <h3 class="clearfix"><span>更多</span><i class="iconfont icon-xia1"></i></h3>
            </dd>
        </dl>
        <dl>
            <dt>地区：</dt>
          <dd class="showCon"> 
        {php $mainarea = get_mainarea(0)}
				{loop $mainarea $k $v}
				<a href="{$MOD[linkurl]}{rewrite('search.php?catid='.$catid.'&areaid='.$v['areaid'])}">{$v[areaname]}</a>
				{/loop}
            </dd> <dd class="showMore">
                <h3 class="clearfix"><span>更多</span><i class="iconfont icon-xia1"></i></h3>
            </dd>
        </dl>
		
    </div>

<div class="w1200">
<div class="com-left">
<!--{php $tags=tag("moduleid=4&condition=thumb<>'' and groupid>5&pagesize=42&page=$page&showpage=1&order=vip desc&template=list-company");}-->
</div>

 <div class="com-right">
 

 {if $MOD[page_ivip]} <div class="com-box">
		<div class="com-title"><span><a href="{$MODULE[2][linkurl]}grade.php" target="_blank">加入<i>&gt;</i></a></span>最新{VIP}</div>
		<!--{tag("moduleid=$moduleid&condition=vip>0 and catids<>''&areaid=$cityid&pagesize=".$MOD[page_ivip]."&order=fromtime desc&template=list-com")}-->
		</div>
		{/if}
		{if $MOD[page_inew]}
		<div class="com-box">
		<div class="com-title"><span><a href="{$MODULE[2][linkurl]}{$DT[file_register]}" target="_blank">注册<i>&gt;</i></a></span>最新加入</div>
		<!--{tag("moduleid=$moduleid&condition=groupid>5 and catids<>''&areaid=$cityid&pagesize=".$MOD[page_inew]."&order=userid desc&template=list-com")}-->
		</div>
		{/if}
		{if $MOD[page_inews]}
		<div class="com-box">
		<div class="com-title"><span><a href="{$MOD[linkurl]}{rewrite('news.php?page=1')}">更多<i>&gt;</i></a></span>企业新闻</div>
		<!--{tag("table=news&condition=status=3 and level>0&pagesize=".$MOD[page_inews]."&datetype=2&order=addtime desc&target=_blank")}-->
		</div>
		{/if}
 </div>


</div>
<div class="b10"></div>
	
{template 'footer'}