
{template 'header'}
<div class="m">	
	<div class="nav"><a href="{$MODULE[1][linkurl]}">首页</a> <i>&gt;</i> <a href="{$MOD[linkurl]}">{$MOD[name]}</a> <i>&gt;</i> {cat_pos($CAT, ' <i>&gt;</i> ')}</div>
</div>
<script src="{DT_SKIN}js/base.js"></script>
<div class="w1200 selectList">
        <dl>
            <dt>行业：</dt>
           <dd class="showCon"> 
      {loop $maincat $k $v}
				<a {if $v[catid]==$catid} class="on"{/if} href="{$MOD[linkurl]}{$v[linkurl]}">{set_style($v[catname],$v[style])}</a>
				{/loop}

            </dd>
         <dd class="showMore">
                <h3 class="clearfix"><span>更多</span><i class="iconfont icon-xia1"></i></h3>
            </dd>
        </dl>
        <dl>
            <dt>地区：</dt>
          <dd class="showCon"> 
        {php $mainarea = get_mainarea(0)}
				{loop $mainarea $k $v}
				<a href="{$MOD[linkurl]}{rewrite('search.php?catid='.$catid.'&areaid='.$v['areaid'])}">{$v[areaname]}</a>
				{/loop}
            </dd> <dd class="showMore">
                <h3 class="clearfix"><span>更多</span><i class="iconfont icon-xia1"></i></h3>
            </dd>
        </dl>
		
    </div>
	<div class="w1200">

    <div class="com-left" id="listcontent">

		
		<div class="img_tip" id="img_tip" style="display:none;">&nbsp;</div>
		{if $page == 1}{ad($moduleid,$catid,$kw,6)}{/if}
		{if $tags}{template 'list-'.$module, 'tag'}{/if}
	</div>
	<div class="com-right">
		
		<div class="head-sub"><strong>搜索排行</strong></div>
		<div class="list-rank">
			<!--{tag("moduleid=$moduleid&table=keyword&condition=moduleid=$moduleid and status=3 and updatetime>$today_endtime-86400*30&pagesize=9&order=week_search desc&key=week_search&template=list-search_rank")}-->
		</div><div class="sponsor">{ad($moduleid,$catid,$kw,7)}</div>
	</div>
	<div class="c_b"></div>
</div>
{template 'footer'}