
{template 'header'}
<div class="m">	
	<div class="nav"><a href="{$MODULE[1][linkurl]}">首页</a> <i>&gt;</i> <a href="{$MOD[linkurl]}">{$MOD[name]}</a> <i>&gt;</i> {cat_pos($CAT, ' <i>&gt;</i> ')}</div>
</div>
<script src="{DT_SKIN}js/base.js"></script>




<div class="w1200 selectList">
        <dl>
            <dt>行业：</dt>
           <dd class="showCon"> 
      {loop $maincat $k $v}
				<a {if $v[catid]==$catid} class="on"{/if} href="{$MOD[linkurl]}{$v[linkurl]}">{set_style($v[catname],$v[style])}</a>
				{/loop}

            </dd>
         <dd class="showMore">
                <h3 class="clearfix"><span>更多</span><i class="iconfont icon-xia1"></i></h3>
            </dd>
        </dl>
        <dl>
            <dt>供货地区：</dt>
          <dd class="showCon"> 
        {php $mainarea = get_mainarea(0)}
				{loop $mainarea $k $v}
				<a href="{$MOD[linkurl]}{rewrite('search.php?catid='.$catid.'&areaid='.$v['areaid'])}">{$v[areaname]}</a>
				{/loop}
            </dd> <dd class="showMore">
                <h3 class="clearfix"><span>更多</span><i class="iconfont icon-xia1"></i></h3>
            </dd>
        </dl>
		<dl>
            <dt>类别：</dt>
            <dd> 
       {loop $TYPE $k $v}
				<a href="{$MOD[linkurl]}{rewrite('search.php?catid='.$catid.'&typeid='.$k)}">{$v}</a>
				{/loop}
            </dd>
        </dl>
    </div>
<div class="m">
	
		<form method="post">
		<div class="sell_tip" id="sell_tip" style="display:none;" title="双击关闭" ondblclick="Dh(this.id);">
			<div>
				<p>您可以</p>
				<input type="submit" value="对比选中" onclick="this.form.action='{$MOD[linkurl]}compare.php';" class="tool-btn"/> 或 
				<input type="submit" value="批量询价" onclick="this.form.action='{$MOD[linkurl]}inquiry.php';" class="tool-btn"/>
			</div>
		</div>
		<div class="img_tip" id="img_tip" style="display:none;">&nbsp;</div>
		<div class="tool">
			<table>
			<tr height="30">
			<td width="25" align="center"><input type="checkbox" onclick="checkall(this.form);"/></td>
			<td>
				<input type="submit" value="对比选中" onclick="this.form.action='{$MOD[linkurl]}compare.php';" class="tool-btn"/>&nbsp; &nbsp;
				<input type="submit" value="批量询价" onclick="this.form.action='{$MOD[linkurl]}inquiry.php';" class="tool-btn"/>
			</td>
			<td align="right">
			<script type="text/javascript">var sh = '{$MOD[linkurl]}search.php?catid={$catid}';</script>
			<input type="checkbox" onclick="Go(sh+'&price=1');"/>标价&nbsp;
			<input type="checkbox" onclick="Go(sh+'&thumb=1');"/>图片&nbsp;
			<input type="checkbox" onclick="Go(sh+'&vip=1');"/>{VIP}&nbsp;
			<select onchange="Go(sh+'&day='+this.value)">
			<option value="0">更新时间</option>
			<option value="1">1天内</option>
			<option value="3">3天内</option>
			<option value="7">7天内</option>
			<option value="15">15天内</option>
			<option value="30">30天内</option>
			</select>&nbsp;
			<select onchange="Go(sh+'&order='+this.value)">
			<option value="0">显示顺序</option>
			<option value="2">价格由高到低</option>
			<option value="3">价格由低到高</option>
			<option value="4">{VIP}级别由高到低</option>
			<option value="5">{VIP}级别由低到高</option>
			<option value="6">供货量由高到低</option>
			<option value="7">供货量由低到高</option>
			<option value="8">起订量由高到低</option>
			<option value="9">起订量由低到高</option>
			</select>&nbsp;
			<img src="{DT_SKIN}image/list_img.gif" width="16" height="16" alt="图片列表" align="absmiddle" class="c_p" onclick="Go(sh+'&list=1');"/>&nbsp;
			<img src="{DT_SKIN}image/list_mix_on.gif" width="16" height="16" alt="图文列表" align="absmiddle" class="c_p" onclick="Go(sh+'&list=0');"/>&nbsp;
			</td>
			</tr>
			</table>
		</div>
		<div class="sell-left">

		{if $page == 1}{ad($moduleid,$catid,$kw,6)}{/if}
		{if $tags}{template 'list-'.$module, 'tag'}{/if}
		</form>
		</div>
<div class="sell-right">
	<div class="productHot">
            <ul>
			
	<!--{php $tags=tag("moduleid=5&areaid=$cityid&condition=status=3 and vip>0 and thumb<>''&length=54&pagesize=5&order=addtime desc&template=null");}-->		
			
			{loop $tags $i $t}
 <li>
                            <div class="productImg"><a href="{$t[linkurl]}" target="_blank"><img src="{$t[thumb]}" alt="{$t[alt]}"></a></div>
                            <div class="productInfo">
                                <div class="productTit"><a href="{$t[linkurl]}" target="_blank">{$t[title]}</a></div>
                                <div class="productPrice">价格：
{if $t[price]>0}
￥{$t[price]}/{$t[unit]}
{else}
面议
{/if}</div>
                                <div class="companyName"><a href="{userurl($t[username])}" target="_blank">{$t[company]}</a></div>
                            </div>
                            <i class="hotIcon-2"></i>
                        </li>
{/loop}                      

            </ul>
        </div>
</div>
</div>

{template 'footer'}
