
{template 'header'}
<style>body{ background:#f5f5f5}</style>
<script type="text/javascript">var module_id= {$moduleid},item_id={$itemid},content_id='content',img_max_width={$MOD[max_width]};</script>
<div class="w1200">
	<div class="nav"><div><img src="{DT_SKIN}image/ico-share.png" class="share" title="分享好友" onclick="Dshare({$moduleid}, {$itemid});"/></div><a href="{$MODULE[1][linkurl]}">首页</a> <i>&gt;</i> <a href="{$MOD[linkurl]}">{$MOD[name]}</a> <i>&gt;</i> {cat_pos($CAT, ' <i>&gt;</i> ')}</div>
<div class="first-screen">
<div class="salebox_l">
<div id="mid_pos"></div>
			<div id="mid_div" onmouseover="SAlbum();" onmouseout="HAlbum();" onclick="PAlbum(Dd('mid_pic'));">
			<img src="{$albums[0]}" width="330" height="280" id="mid_pic"/><span id="zoomer"></span>
			</div>
			<div class="b10"></div>
			<div>
			{loop $thumbs $k $v}<img src="{$v}" width="60" height="60" onmouseover="if(this.src.indexOf('nopic60.gif')==-1)Album({$k}, '{$albums[$k]}');" class="{if $k}ab_im{else}ab_on{/if}" id="t_{$k}"/>{/loop}
			</div>
			<div class="b10"></div>
			<div onclick="PAlbum(Dd('mid_pic'));" class="c_b t_c c_p"><img src="{DT_SKIN}image/ico_zoom.gif" width="16" height="16" align="absmiddle"/> 点击图片查看原图</div></div>
<div class="proInfo"><div id="big_div" style="display:none;"><img src="" id="big_pic"/></div>
<h1>{$title}</h1>
<div class="proPrice">
            <p>
                <i>产品价格</i>
                  {if $price>0}<span>￥</font>{$price}</font>{$DT[money_unit]}/{$unit}{else}面议{/if}
            </p>
						
            <p>
                <i>最小起订量：</i><em>{$minamount} {$unit}</em>
                可售数量：<em>{$amount} {$unit}</em>
            </p>
			<div class="qrcode"><img src="{DT_SKIN}img/wei.png" /><dl><img width=100 height=100 src="http://qr.liantu.com/api.php?bg=ffffff&fg=ee2e2c&gc=d10000&el=l&w=200&m=10&text={$head_mobile}"/><p>手机查看详情</p></dl></div>
        </div>
<div class="base">
 
                  
                 
                 {if $days} <dl>
                    <dt>发货时限：</dt>
                    <dd><span >{$days}</span> 天内发货</dd>
                  </dl>{/if}
                  <dl>
                    <dt>所在地区：</dt>
                    <dd>{area_pos($areaid, ' ')}</dd>
                  </dl>
                  <dl>
                    <dt>有效期至：</dt>
                    <dd>{if $todate}{$todate}{else}长期有效{/if}{if $expired} <span class="f_red">[已过期]</span>{/if}</dd>
                  </dl>
                  <dl>
                    <dt>最后更新：</dt>
                   <dd>{$editdate}</dd>
                  </dl>
                  <dl>
                    <dt>浏览次数：</dt>
                    <dd><span id="hits">{$hits}</span></dd>
                  </dl>

</div>
<div class="buynow">
<a class="demo" href="{$member[linkurl]}" target="_blank">
<i>
</i>进入店铺</a>

{if $username && !$expired}

				{if SELL_ORDER && $price>0 && $minamount>0 && $amount>0 && $unit}
				<a class="buy" onclick="Go('{$MOD[linkurl]}{rewrite('buy.php?itemid='.$itemid)}');"/>立即购买</a>
				{else}
				<a class="buy" onclick="Go('{$MOD[linkurl]}{rewrite('inquiry.php?itemid='.$itemid)}');"/>咨询底价</a>
				{/if}

				{/if}
				
				
</div>
</div>
<div class="shopInfo">
            <h2>买家正在看</h2>
			<!--{php $tags=tag("moduleid=5&length=33&condition=status=3 and thumb<>'' and username='$username'&pagesize=3&order=rand()&width=130&height=100&cols=5&template=null")}-->
{loop $tags $i $t}
<a title="{$t[title]}" href="{$t[linkurl]}"><img src="{$t[thumb]}" alt="{$t[title]}"/>
<b>{$t[title]}</b>
{if $t[price]>0}
<span>￥{$t[price]}/{$unit}</span>
{else}
<span>面议</span>
{/if}
</a>
{/loop}
</div>
</div>
</div>
<div class="m mt15">
<div class="left-side">
<div class="company">
<dt>企业信息</dt>
<div id="contact">{template 'contact', 'chip'}</div>
</div>
<div class="shopInfo mt10" style="padding:0px 10px">
            <h3>该企业的其他产品</h3>
			<!--{php $tags=tag("moduleid=5&length=33&condition=status=3 and thumb<>'' and username='$username'&pagesize=8&order=edittime desc&width=130&height=100&cols=5&template=null")}-->
{loop $tags $i $t}
<a title="{$t[title]}" href="{$t[linkurl]}"><img src="{$t[thumb]}" alt="{$t[title]}"/>
<b>{$t[title]}</b><span>
{if $t[price]>0}
￥{$t[price]}/{$unit}</span>
{else}
<span>面议</span>
{/if}
</a>
{/loop}
</div>
</div>
<div class="right-side">
<h3>产品详情</h3>
<div class="sx">
{if $brand}
                  <dl>
            <dt>品牌名称：</dt>
                    <dd>{$brand}</dd>
                  </dl>
                  {/if}
                  {if $n1 && $v1}
                  <dl>
                          <dt>{$n1}：</dt>
                    <dd>{$v1}</dd>
                  </dl>
                  {/if}
                  {if $n2 && $v2}
                  <dl>
                          <dt>{$n2}：</dt>
                    <dd>{$v2}</dd>
                  </dl>
                  {/if}
                  {if $n3 && $v3}
                  <dl>
                          <dt>{$n3}：</dt>
                    <dd>{$v3}</dd>
                  </dl>
                  {/if}

{if $options && $values}



	{loop $options $i $o}
{if trim($values[$o[oid]])}
<dl>

	<dt>{$o[name]}：</dt>
<dd>{nl2br($values[$o[oid]])}</dd>

</dl>{/if}

	{/loop}


{/if}</div>

<div class="content">

{$content}

</div>


<div class="state">
    <h2>免责声明</h2>
    <p>本网页所展示的有关【{$title}】的信息/图片/参数等由的会员【{if $user_status == 3}
<a href="{$member[linkurl]}" target="_blank" title="{$member[company]}
{$member[mode]}">{$member[company]}</a>
{/if}】提供，由{$DT[sitename]}会员【{if $user_status == 3}
<a href="{$member[linkurl]}" target="_blank" title="{$member[company]}
{$member[mode]}">{$member[company]}</a>
{/if}】自行对信息/图片/参数等的真实性、准确性和合法性负责，<b>本平台（本网站）仅提供展示服务，请谨慎交易，因交易而产生的法律关系及法律纠纷由您自行协商解决，本平台（本网站）对此不承担任何责任。</b>您在本网页可以浏览【{$title}】有关的信息/图片/价格等及提供
            【{$title}】的商家公司简介、联系方式等信息。</p>
            <p>在您的合法权益受到侵害时，请您致电{$DT[telephone]}，我们将竭诚为您服务，感谢您对{$DT[sitename]}的关注与支持！</p>
</div>

</div>

</div>
<script type="text/javascript" src="{DT_STATIC}file/script/album.js"></script>
{if $content}<script type="text/javascript" src="{DT_STATIC}file/script/content.js"></script>{/if}
{template 'footer'}