
{template 'header'}
<div class="m">	
	<div class="nav"><a href="{$MODULE[1][linkurl]}">首页</a> <i>&gt;</i> <a href="{$MOD[linkurl]}">{$MOD[name]}</a> <i>&gt;</i> {cat_pos($CAT, ' <i>&gt;</i> ')}</div>
</div>
<div class="m selectList">
        <dl>
            <dt>行业：</dt>
            <dd> 
      {loop $maincat $k $v}
				<a {if $v[catid]==$catid} class="on"{/if} href="{$MOD[linkurl]}{$v[linkurl]}">{set_style($v[catname],$v[style])}</a>
				{/loop}

            </dd>
        
        </dl>
        <dl>
            <dt>地区：</dt>
            <dd> 
        {php $mainarea = get_mainarea(0)}
				{loop $mainarea $k $v}
				<a href="{$MOD[linkurl]}{rewrite('search.php?catid='.$catid.'&areaid='.$v['areaid'])}">{$v[areaname]}</a>
				{/loop}
            </dd>
        </dl>
		 <dl>
            <dt>类别：</dt>
            <dd> 
       {loop $TYPE $k $v}
				<a href="{$MOD[linkurl]}{rewrite('search.php?catid='.$catid.'&typeid='.$k)}">{$v}</a>
				{/loop}
            </dd>
        </dl>
    </div>

<div class="w1200">
	<div class="cg-left">
		
		{if $CP}{template 'property_list', 'chip'}{/if}
		<div class="img_tip" id="img_tip" style="display:none;">&nbsp;</div>
		<div class="cg-list">
		<ul>
		{if $page == 1}{ad($moduleid,$catid,$kw,6)}{/if}
		{if $tags}{template 'list-'.$module, 'tag'}{/if}
		</ul>
		</div>
	</div>
	<div class="cg-right">
		<div class="head-sub"><strong>搜索排行</strong></div>
		<div class="list-rank">
			<!--{tag("moduleid=6&table=keyword&condition=moduleid=$moduleid and status=3 and updatetime>$today_endtime-86400*30&pagesize=9&order=week_search desc&key=week_search&template=list-search_rank")}-->
		</div>
	</div>
	<div class="c_b"></div>
</div>
{template 'footer'}