
{loop $tags $k $t}
<div class="com-box">
            <div class="com-info">
                <h2>
                    <a href="{$t[linkurl]}" target="_blank">{$t[company]}</a>&nbsp;
                    <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=2904153022&amp;site=qq&amp;menu=yes" class="qqcat" target="_blank"><i class="ui_ico ui_ico_18_qq"></i></a>
					{if $t[vip]}<img src="{DT_SKIN}image/vip_{$t[vip]}.gif" alt="{VIP}" title="{VIP}:{$t[vip]}级" align="absmiddle"/> {/if}
					
                  {if $t[vip]}  <em>诚</em>
                    <em>VIP会员</em>{else}<em class="gray">普通会员</em>{/if}
                </h2>
                <div class="com-business">
                    主营产品：<span>{$t[business]}</span>
                </div>
				 <div class="com-business">
                    公司地址：<span>{$t[address]}</span>
                </div>
            </div>
            
			
 <!--{php $tags=tag("moduleid=5&length=20&condition=status=3 and thumb<>''and username='".$t[username]."'&areaid=$cityid&pagesize=5&order=edittime desc&template=null");}--> 
 <div class="com-product">
      {loop $tags $k $t}
<a href="{$t[linkurl]}" target="_blank"><img src="{imgurl($t[thumb])}" alt="{$t[alt]}" width="95" />{$t[title]}</a>
      {/loop}

            </div>
        </div>









{/loop}		

{if $showpage && $pages}<div class="pages">{$pages}</div>{/if}